<button class="annotator-adder-actions__button h-icon-annotate js-annotate-btn">
  <span class="annotator-adder-actions__label" data-action="comment">Comment</span>
</button>
<button class="annotator-adder-actions__button js-suggestion-btn">
  <div class="h-icon-suggestion">
  </div>
  <span class="annotator-adder-actions__label" data-action="suggestion">Suggest</span>
</button>
<button class="annotator-adder-actions__button js-highlight-btn">
  <div class="h-icon-highlight">
  </div>
  <span class="annotator-adder-actions__label" data-action="highlight">Highlight</span>
</button>
