  <div class="annotation-share-dialog__backdrop"
       *ngIf="isOpen"
       (click)="_onClose()"></div>
  <div class="annotation-share-dialog" [ngClass]="{'is-open': (isOpen || false)}">
    <div class="annotation-share-dialog-target">
      <span class="annotation-share-dialog-target__label">Share:</span>
      <a [routerLink]="getRouterLink()"
        target="_blank"
        title="Tweet link"
        class="annotation-share-dialog-target__icon h-icon-twitter"
        (click)="onShareClick('twitter')"></a>
      <a [routerLink]="getRouterLink()"
        target="_blank"
        title="Share on Facebook"
        class="annotation-share-dialog-target__icon h-icon-facebook"
        (click)="onShareClick('facebook')"></a>
      <a [routerLink]="getRouterLink()"
        target="_blank"
        title="Post on Google Plus"
        class="annotation-share-dialog-target__icon h-icon-google-plus"
        (click)="onShareClick('googlePlus')"></a>
      <a [routerLink]="getMailtoRouterLink()"
        target="_blank"
        title="Share via email"
        class="annotation-share-dialog-target__icon h-icon-mail"
        (click)="onShareClick('email')"></a>
    </div>
    <div class="annotation-share-dialog-link" type="text">
      <input class="annotation-share-dialog-link__text"
        [value]="uri" readonly>
      <span class="annotation-share-dialog-link__feedback" *ngIf="copyToClipboardMessage">
        {{copyToClipboardMessage}}
      </span>
      <button class="btn btn-clean annotation-share-dialog-link__btn"
        (click)="copyToClipboard($event)">
        <i class="h-icon-clipboard btn-icon"></i>
      </button>
    </div>
    <div class="annotation-share-dialog-msg" *ngIf="group != undefined && group.type === 'private' && !isPrivate">
      <span class="annotation-share-dialog-msg__audience">
        Group.
      </span>
      Only group members will be able to view this annotation.
    </div>
    <div class="annotation-share-dialog-msg" *ngIf="isPrivate">
      <span class="annotation-share-dialog-msg__audience">
        Only me.
      </span>
      No one else will be able to view this annotation.
    </div>
  </div>
