<header class="annotation-header" *ngIf="!user">
  <strong>You must be logged in to create comments/suggestions.</strong>
</header>

<div (keydown)="onKeydown($event)" (mousedown)="onMouseDown($event)" *ngIf="user">

  <div id="annotation-wrapper" (mouseover)="showButtons()" (mouseout)="hideButtons()">
    <annotation-header [annotation]="annotation"
                       [isEditing]="editing"
                       [isHighlight]="isHighlight"
                       [isPrivate]="state.isPrivate"
                       [isSaving]="isSaving"
                       [isDeleted]="isDeleted"
                       [isOrphan]="isOrphan"
                       [isSuggestion]="isSuggestion"
                       [isProcessed]="isProcessed"
                       [isForward]="isForward"
                       [id]="id"
                       (edit)="edit()"
                       (reply)="reply()"
                       (delete)="delete()"
                       (onReplyCountClick)="onReplyCount()"
                       (forwardAnnotation)="forward()"
                       (treatAnnotation)="treatAnnotation()"
                       (addFeedback)="addFeedback()"
                       [checkFeedback]="onCheckFeedback"
                       [replyCount]="replyCount"
                       [showDocumentInfo]="showDocumentInfo"
                       [state]="state"
                       [isReply]="isReply">
    </annotation-header>
    <!-- Body -->
    <section name="text" class="annotation-body">
      <!-- forwarded annotation -->
      <div *ngIf="isAnnotationForwarded">
        <div class="annotation-body-forward">
          <i class="h-icon-annotation-forward"></i>
          <div class="textfield">
            <!-- forwarded annotation text -->
            <excerpt [enabled]="true" [inlineControls]="false"
                     (onCollapsibleChanged)="setBodyCollapsible($event)"
                     [collapse]="collapseBody"
                     [collapsedHeight]="400"
                     [overflowHysteresis]="20"
                     [contentData]="diffText">
              <markdown *ngIf="isSuggestion"
                        [text]="diffText"
                        [noBlur]="noBlur"
                        (noBlurChange)="onNoBlurChange($event)"
                        (onSetExitData)="setExitData($event)"
                        [customTextClass]="{'annotation-body is-hidden':isHiddenByModerator, 'has-content':isTextValid}"
                        [readOnly]="true"
              >
              </markdown>
              <markdown *ngIf="!isSuggestion"
                        [text]="diffText"
                        [noBlur]="noBlur"
                        (noBlurChange)="onNoBlurChange($event)"
                        (onSetExitData)="setExitData($event)"
                        [customTextClass]="{'annotation-body is-hidden':isHiddenByModerator, 'has-content':isTextValid}"
                        [readOnly]="true"
              >
              </markdown>
            </excerpt>
            <!-- suggestion justification -->
            <div *ngIf="isJustificationShown && !isJustificationTextEmpty" class="annotation__justification-container">
              <div class="annotation-replies">
                <div (click)="toggleJustificationCollapsed(); $event.stopPropagation();">
                  <span class="annotation-replies__count h-icon-chevron-right" *ngIf="isJustificationCollapsed"></span>
                  <span class="annotation-replies__count h-icon-keyboard_arrow_down"
                        *ngIf="!isJustificationCollapsed"></span>
                  <span class="annotation-replies__link">{{ justificationLabel }}</span>
                </div>
              </div>

              <!-- field for a suggestion's justification -->
              <markdown class="annotation__justification-text"
                        *ngIf="!isJustificationCollapsed"
                        [noBlur]="noBlur"
                        (noBlurChange)="onNoBlurChange($event)"
                        (onSetExitData)="setExitData($event)"
                        [text]="justificationText"
                        [readOnly]="true">
              </markdown>
            </div>
            <!-- field for a forwarded reply -->
            <div *ngIf="annotation.replyText" class="forward-reply">
              <i class="h-icon-annotation-reply icon-in-forward"></i>
              <div class="reply-text">
                <markdown [text]="annotation.replyText"
                          [noBlur]="noBlur"
                          (onSetExitData)="setExitData($event)"
                          [customTextClass]="{'annotation-body is-hidden':isHiddenByModerator, 'has-content':isTextValid}"
                          [readOnly]="true"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- normal annotation and suggestion editing window -->
      <excerpt *ngIf="!isAnnotationForwarded" [enabled]="!editing"
               [inlineControls]="false"
               (onCollapsibleChanged)="setBodyCollapsible($event)"
               [collapse]="collapseBody"
               [collapsedHeight]="400"
               [overflowHysteresis]="20"
               [contentData]="diffText"
      >
        <ckeditor-markdown [text]="diffText"
                           [customTextClass]="{'annotation-body is-hidden':isHiddenByModerator, 'has-content':isTextValid}"
                           [noBlur]="noBlur"
                           (onSetExitData)="setExitData($event)"
                           (onEditText)="setText($event)"
                           [readOnly]="!editing || (editing && isAnnotationForwarded)"
                           [disableStyling]="isSuggestion"
                           [disableLink]="isSuggestion"
                           (noBlurChange)="onNoBlurChange($event)"
        >
        </ckeditor-markdown>
      </excerpt>

      <!-- justification of a suggestion, may be left textually empty -->
      <div class="annotation__justification-container" *ngIf="isJustificationShown && !isAnnotationForwarded" [attr.enabled]="!editing">
        <div class="annotation-replies">
          <div (click)="toggleJustificationCollapsed(); $event.stopPropagation();">
            <span class="annotation-replies__count h-icon-chevron-right" *ngIf="isJustificationCollapsed"></span>
            <span class="annotation-replies__count h-icon-keyboard_arrow_down"
                  *ngIf="!isJustificationCollapsed"></span>
            <span class="annotation-replies__link">{{ justificationLabel }}</span>
          </div>
        </div>

        <!-- editing window for a suggestion's justification -->
        <ckeditor-markdown class="annotation__justification-text"
                           *ngIf="!isJustificationCollapsed"
                           [text]="justificationText"
                           [noBlur]="noBlur"
                           (noBlurChange)="onNoBlurChange($event)"
                           (onSetExitData)="setExitData($event)"
                           (onEditText)="setJustificationText($event)"
                           [readOnly]="!editing || (editing && isAnnotationForwarded)">
        </ckeditor-markdown>
      </div>

      <!-- justification for forwarding an annotation, may be left textually empty -->
      <div class="annotation__forwardingjustification-container" *ngIf="isAnnotationForwarded" [attr.enabled]="editing">

        <ckeditor-markdown
                [text]="forwardJustifText"
                [noBlur]="noBlur"
                (onSetExitData)="setExitData($event)"
                (onEditText)="setForwardJustifText($event)"
                (noBlurChange)="onNoBlurChange($event)"
                [readOnly]="!editing">
        </ckeditor-markdown>
      </div>
      <annotation-feedback *ngIf="isFeedbackShown"
                           [feedback]="annotation.feedback"
                           [isAddingFeedback]="isAddingFeedback"
                           [onSaveFeedback]="saveFeedback"
                           (onEditFeedback)="setUnsavedFeedback($event)"
                           (stopAddingFeedback)="onStopAddingFeedback()"
                           [isIsc]="isISC"
      ></annotation-feedback>
      <div *ngIf="!isReply" class="annotation-header__share-info">
        <div *ngIf="group?.url != undefined" 
          class="annotation-header__group" 
        >
          <i class="h-icon-group"></i>
          <span class="annotation-header__group-name">{{ group?.name }}</span>
        </div>
        <span *ngIf="state.isPrivate" title="This annotation is visible only to you.">
          <i class="h-icon-lock"></i><span class="annotation-header__group-name" *ngIf="group?.url != undefined">Only me</span>
        </span>
        <div *ngIf="!state.isPrivate && !isSent" class="annotation-header__group">
          <i class="h-icon-group"></i>
          <span *ngIf="group != undefined" class="annotation-header__group-name">{{ group?.name }}</span>
        </div>
      </div>
      <div *ngIf="shouldDisplayMetadata" class="leos-annotation-info">
        <span *ngFor="let metadata of getMetadata()"
              [title]="metadata.key"
              [ngClass]="getMetadataInfoStyle(metadata.key)"
        >
          {{ metadata.value }}
        </span>
      </div>
      <div class="leos-annotation-contribution" *ngIf="isContributionLabelShown">(contribution)</div>
    </section>
  </div>

  <footer class="annotation-footer" *ngIf="isFooterShown">
    <span id="alertSave" class="glyphicon glyphicon-alert pull-right"
          *ngIf="editedExit"
          style='color: rgb(223, 0, 0, 0.8);font-size: x-large;'
          title="Please do not forget to post the annotation"></span>
    <div class="annotation-form-actions" *ngIf="editing">
      <publish-annotation-btn class="publish-annotation-btn"
                              [group]="group"
                              (onUpdateSelectedGroup)="updateSelectedGroup($event)"
                              [canPost]="isTextValid"
                              [isShared]="isShared"
                              (onCancel)="revert()"
                              (onSave)="save()"
                              (onSetPrivacy)="setPrivacy($event)"
                              [isForward]="isForward"
                              [isReply]="isReply"
                              [originGroup]="annotation.originGroup"
      ></publish-annotation-btn>
    </div>

    <div class="annotation-replies" *ngIf="!isReply && ((replyCount || 0) > 0)">
      <div (click)="onReplyCount(); $event.stopPropagation();">
        <span class="annotation-replies__count h-icon-chevron-right" *ngIf="isCollapsed"></span>
        <span class="annotation-replies__count h-icon-keyboard_arrow_down" *ngIf="!isCollapsed"></span>
        <span class="annotation-replies__link">{{ replyLabel }}</span>
        <span class="annotation-replies__count" *ngIf="!isChildReplyInEditingState">({{ replyCount || 0 }})</span>
      </div>
    </div>

    <div class="annotation-actions" *ngIf="isSaving">
      Saving...
    </div>
  </footer>
</div>