<div *ngIf="isMenuButtonShown"
     ngbDropdown
     #actionsDropdown="ngbDropdown"
     class="annotation-header__menu"
>
    <button class="menu_btn" (click)="toggleDropdown(actionsDropdown);$event.stopPropagation();">
        <i class="sidebar-menu-icon"></i>
    </button>
    <div ngbDropdownMenu class="dropdown-content">
        <div *ngIf="showRejectAction" ngbDropdownItem (click)="onRejectAnnotation()" class="menu-item"> Reject </div>
        <div *ngIf="isDeleteShown" ngbDropdownItem (click)="onDeleteAnnotation()" class="menu-item">Delete</div>
        <div *ngIf="isEditShown" ngbDropdownItem (click)="onEditAnnotation()" class="menu-item">Edit</div>
        <div *ngIf="isReplyShown" ngbDropdownItem (click)="onReplyAnnotation()" class="menu-item">Reply</div>
        <div *ngIf="isForwardShown" ngbDropdownItem (click)="onForwardAnnotation()" class="menu-item">Forward</div>
        <div *ngIf="isMarkAsTreatedShown" ngbDropdownItem (click)="onTreatAnnotation()" class="menu-item">Mark as processed</div>
        <div *ngIf="isMarkAsNotTreatedShown" ngbDropdownItem (click)="onTreatAnnotation()" class="menu-item">Mark as not processed</div>
        <div *ngIf="isFeedbackShown" ngbDropdownItem (click)="onAddFeedback()" class="menu-item">Add Feedback</div>
        <div *ngIf="!hasAllowedActions" class="menu-item" ngbDropdownItem> No more actions allowed </div>
    </div>
</div>