<header class="annotation-header" [ngClass]="{'processed-annotation-header': isProcessed}">
    <div class="annotation-header__checkbox">
        <button *ngIf="isSelectionCheckboxShown && !isAnnotationSelected"
                class="select-checkbox">
        </button>
        <button *ngIf="isSelectionCheckboxShown && isAnnotationSelected"
                class="deselect-checkbox">
            <i class="annotation__checkmark-icon"></i>
        </button>
    </div>
    <div *ngIf="!isReply" class="annotation-header__type">
        <i *ngIf="isSuggestion" class="annotation-header__suggestion-icon"></i>
        <i *ngIf="isHighlight" class="annotation-header__highlight-icon"></i>
        <i *ngIf="!isSuggestion && !isHighlight" class="annotation-header__comment-icon"></i>
    </div>
    <!-- user and entity-->
    <div class="annotation-header__main">
        <div class="annotation-header__user">
            <!-- User -->
            <span *ngIf="user">
                <!-- LEOS Changes: Added style to disable link -->
                <span [title]="displayName"
                   target="_blank"
                   *ngIf="!isThirdPartyUser"
                   style="pointer-events: none;cursor: default;"
                >{{displayName}}</span>
                        <!-- LEOS Changes: Added style to disable link -->
                <span [title]="displayName"
                   target="_blank"
                   *ngIf="isThirdPartyUser && thirdPartyUsernameLink"
                   style="pointer-events: none;cursor: default;"
                >{{displayName}}</span>
                <span [title]="displayName"
                      *ngIf="isThirdPartyUser && !thirdPartyUsernameLink"
                >{{displayName}}</span>
                <span class="annotation-collapsed-replies">
                  <div class="annotation-link"
                       (click)="replyCountClick(); $event.stopPropagation();"
                       [ngPlural]="replyCount || 0" count="replyCount"
                  >
                      <ng-template ngPluralCase="0"></ng-template>
                      <ng-template ngPluralCase="1">1 reply</ng-template>
                      <ng-template ngPluralCase="other">{{ getRepliesText() }}</ng-template>
                </div>
                </span>
            </span>
            <span *ngIf="entityName" [title]="entityName">&nbsp;({{ entityName }})&nbsp;</span>
        </div>
        <!-- Timestamp -->
        <div class="annotation-header__timestamp">
            <timestamp *ngIf="!isEditing && (updated != undefined)"
                       [className]="'annotation-header__timestamp'"
                       [timestamp]="updated"
                       [routerLink]="htmlLink"
                       style="pointer-events: none;cursor: default;"
            ></timestamp>
        </div>
    </div>
    <div *ngIf="isSuggestionActionsShown">
        <suggestion-buttons
                *ngIf="enableSuggestionButtons"
                [hideRejectButton]="true"
                [annotation]="annotation"
                [checkFeedback]="onCheckUnsavedFeedbackAndWarn"
                (rejectAnnotation)="onRejectAnnotation()">
        </suggestion-buttons>
    </div>
    <annotation-actions-menu-button
            [annotation]="annotation"
            [isForward]="forward"
            [isEditing]="isEditing"
            [isHighlight]="isHighlight"
            [state]="state"
            [showRejectAction]="isSuggestionActionsShown && enableSuggestionButtons"
            (rejectAnnotation)="onRejectAnnotation()"
            (deleteAnnotation)="onDelete()"
            (replyAnnotation)="onReply()"
            (editAnnotation)="onEdit()"
            (treatAnnotation)="onTreatAnnotation()"
            (forwardAnnotation)="onForwardAnnotation()"
            (addFeedback)="onAddFeedback()">
    </annotation-actions-menu-button>
</header>