<div class="annotation__justification-container">
    <div class="annotation-replies">
        <div (click)="toggleFeedbackCollapsed($event)">
            <span *ngIf="isFeedbackCollapsed" class="annotation-replies__count h-icon-chevron-right"></span>
            <span class="annotation-replies__count h-icon-keyboard_arrow_down"
                    *ngIf="!isFeedbackCollapsed"
            ></span>
            <span class="annotation-replies__link">{{ feedbackLabel }}</span>
            <span *ngIf="isShowFeedbackIcon" class="annotation-feedback-icon"></span>
        </div>
    </div>

    <!-- Edit Feedback -->
    <ckeditor-markdown class="annotation__justification-text"
                        *ngIf="!isFeedbackCollapsed"
                        [text]="getFeedbackText()"
                        (onEditText)="setFeedbackText($event)"
                        [readOnly]="isEditorReadOnly"
    ></ckeditor-markdown>
    <div *ngIf="!isFeedbackCollapsed" class="annotation-feedback-action-container">
        <span *ngIf="isShowFeedbackMetadata" class="annotation-feedback-metadata"> {{ feedbackEditedBy }} </span>
        <button *ngIf="!isHideSave"
                class="annotation-feedback-save-btn"
                title="Save"
                [disabled]="isSaveDisabled"
                (click)="save($event)"
        > Save </button>
    </div>
</div>