<div [ngClass]="threadClasses">
  <div class="annotation-thread__thread-edge" *ngIf="!isTopLevelThread">
    <a href=""
       [ngClass]="threadToggleClasses"
       [title]="thread?.collapsed ? 'Expand' : 'Collapse'"
       (click)="toggleCollapsed()">
        <span [ngClass]="{'h-icon-arrow-right': !!thread?.collapsed,
                        'h-icon-arrow-drop-down': !thread?.collapsed}"></span>
    </a>
    <div class="annotation-thread__thread-line"></div>
  </div>
  <div class="annotation-thread__content">
    <moderation-banner *ngIf="thread?.annotation != undefined"
                       [annotation]="thread!.annotation!"
    >
    </moderation-banner>
    <annotation *ngIf="thread?.annotation != undefined"
                name="annotation"
                [isRootSuggestion]="checkIsRootSuggestion"
                [replyCount]="thread?.replyCount || 0"
                [showDocumentInfo]="showDocumentInfo"
                [hidden]="!thread?.visible"
                [ngClass]="annotationClasses"
                [annotation]="thread!.annotation!"
                [isCollapsed]="thread?.collapsed || false"
                (mouseenter)="onMouseEnter()"
                (mouseleave)="onMouseLeave()"
                (isChildReplyInEditingState)="isChildReplyInEditingState"
                (onReplyCountClick)="toggleCollapsed()"
                (onEditStateChanged)="onAnnotationEditStateChanged($event)">
    </annotation>

    <div *ngIf="!thread?.annotation" class="thread-deleted">
      <p><em>Message not available.</em></p>
    </div>

    <div *ngIf="hiddenCount > 0">
      <a class="small"
         href=""
         (click)="showThreadAndReplies();"
         title="Viewing related conversation might show items currently being hidden by the chosen filter."
         [ngPlural]="hiddenCount"
      >
        <ng-template ngPluralCase="0"></ng-template>
        <ng-template ngPluralCase="one"> View one more in conversation </ng-template>
        <ng-template ngPluralCase="other">{{ getThreadAndRepliesText() }}</ng-template>
      </a>
    </div>
    <!-- Replies -->
    <ul [hidden]="thread?.collapsed === true">
      <li *ngFor="let child of thread?.children || []; trackBy: trackById"
          [hidden]="!shouldShowReply(child)"
          class="annotation-reply"
      >
        <annotation-thread
                [showDocumentInfo]="false"
                [thread]="child"
                (onChangeCollapsed)="changeCollapsed($event)"
                (onForceVisible)="forceVisible($event)"
                (onAnyAnnotationEditingStateChanged)="onReplyEditingStateChanged($event)"
                [isRootSuggestion]="checkIsRootSuggestion">
        </annotation-thread>
      </li>
    </ul>
  </div>
</div>