<ckeditor *ngIf="showEditor"
  [data]="initialText || ''"
  [config]="editorConfig"
  (ready)="onEditorReady($event)"
  (focus)="onEditorFocus()"
  (blur)="onEditorBlur()"
  (paste)="onEditorPaste($event)"
  (change)="onEditorChange($event)"
>
</ckeditor>
<div class="markdown-body js-markdown-preview"
      [ngClass]="customTextClass"
      [hidden]="showEditor"
      [hBranding]="'annotationFontFamily'"
      [innerHtml]="previewText"
>
</div>