<div *ngIf="hasDropdown" class="dropdown-menu-btn">
  <button
    class="dropdown-menu-btn__btn"
    (click)="buttonClick($event); $event.stopPropagation();"
    [disabled]="isDisabled"
    [hBranding]="'ctaTextColor, ctaBackgroundColor'">
      {{ label }}
  </button>
  <button
    type="button"
    class="dropdown-menu-btn__dropdown-arrow"
    [title]="dropdownMenuLabel"
    (click)="onToggleDropdown($event);">
    <div class="dropdown-menu-btn__dropdown-arrow-separator"></div>
    <div
      class="dropdown-menu-btn__dropdown-arrow-indicator"
      [hBranding]="'ctaTextColor, ctaBackgroundColor'">
      <div>▼</div>
    </div>
  </button>
</div>
<div *ngIf="!hasDropdown" class="dropdown-menu-btn">
  <button
  (click)="buttonClick($event); $event.stopPropagation();"
  [disabled]="isDisabled" 
  class="dropdown-menu-btn__btn-no-arrow"
  [hBranding]="'ctaTextColor, ctaBackgroundColor'">
    {{ label }}
  </button>
</div>