<div ngbDropdownMenu class="publish-annotation-btn__dropdown-container dropdown-menu pull-left group-list publish-annotation-btn__dropdown-menu">
    <div class="publish-annotation-btn__dropdown-scrollcontainer">
        <ul class="" role="menu">
            <ng-container *ngFor="let groupItem of groups; trackBy: trackByGroup">
                <li ngbDropdownItem
                    *ngIf="(groupItem.id !== originGroup) || !isforward" 
                    class="dropdown-menu__row"
                    (click)="setPrivacy('shared');$event.stopPropagation(); "
                >
                    <div class="group-item" (click)="updateSelectedGroup(groupItem)">
                        <div class="group-icon-container">
                            <i class="small" [ngClass]="'h-icon-' + groupCategory(groupItem)"></i>
                        </div>
                        <div class="group-details">
                            <div class="group-name-container">
                                <div class="group-name-link"> {{ groupItem.name }} </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ng-container>
            <li ngbDropdownItem  class="dropdown-menu__row" (click)="setPrivacy('private');$event.stopPropagation();" [hidden]="!isAuthorityVisible">
                <div class="group-item">
                    <div class="group-icon-container">
                        <i class="small h-icon-lock"></i>
                    </div>
                    <div class="group-details">
                        <div class="group-name-container">
                            <div class="group-name-link">
                                {{ privateLabel }}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="publish-annotation-btn__dropdown-arrow pull-left"></div>