<div *ngIf="!enabled" class="excerpt__container">
  <ng-container *ngTemplateOutlet="excerptTemplate"></ng-container>
</div>
<div class="excerpt__container" *ngIf="enabled">
  <div class="excerpt" [ngStyle]="contentStyle()">
    <ng-container *ngTemplateOutlet="excerptTemplate"></ng-container>
    <div (click)="expand()"
          [ngClass]="bottomShadowStyles"
          title="Show the full excerpt"></div>
    <div class="excerpt__inline-controls" *ngIf="showInlineControls">
      <span class="excerpt__toggle-link" *ngIf="isExpandable">
        … <div (click)="toggle($event)"
            title="Show the full excerpt"
            [hBranding]="'accentColor, selectionFontFamily'">(Show more)</div>
      </span>
      <span class="excerpt__toggle-link" *ngIf="isCollapsible">
        <div (click)="toggle($event)"
            title="Show the first few lines only"
            [hBranding]="'accentColor, selectionFontFamily'">(Show less)</div>
      </span>
    </div>
  </div>
</div>
<ng-template #excerptTemplate>
  <ng-content></ng-content>
</ng-template>