<div class="main-filter-input-field">
  <input  id="search-input"
          type="text"
          class="leos-text-input"
          [(ngModel)]="customText"
          (input)="onCustomTextInput($event)"
  />
  <img class="filter-img" src="images/filter-icon.svg">
  <button *ngIf="(pendingUpdatesCount || 0) > 0"
    class="filter-apply-update-btn"
    (click)="onApplyPendingUpdates()"
    [title]="'Show ' + (pendingUpdatesCount || 0) + ' new/updated annotation(s)'"
  >
    <svg-icon class="top-bar__apply-icon" [name]="'refresh'"></svg-icon>
  </button>
</div>
<span>
  <button (click)="toggleAdvancedFilter()" class="openAdvancedFiltersButton">
    Advanced filter
    <i *ngIf="!leosFilterPaneVisible" class="h-icon-keyboard_arrow_down"></i>
    <i *ngIf="leosFilterPaneVisible" class="h-icon-keyboard_arrow_up"></i>
  </button>
</span>
<div *ngIf="leosFilterPaneVisible" class="leos-filter-pane">
  <div class="filter-pane__select-section">
    <select  [(ngModel)]="type" (change)="onTypeSelect($event)">
      <option *ngIf="!isShowAllWithFeedbackFilter" value="All">By type</option>
      <option *ngIf="isShowAllWithFeedbackFilter" value="AllWithProcessed">By type</option>
      <option value="Comments">By comments</option>
      <option value="Suggestions">By suggestions</option>
      <option value="AnnotationsWithFeedback">With feedback</option>
    </select>
    <select [hidden]="!isShowStatusFilter" [(ngModel)]="status" (change)="onStatusSelect($event)">
      <option value="All">By status</option>
      <option value="Processed">By processed</option>
      <option value="Non-Processed">By non-processed</option>
    </select>
  </div>
  <div class="filter-pane__input_field_section">
    <div ngbDropdown #filterDropdown="ngbDropdown" class="filter-pane__dropdown-section">
      <button type="button" (click)="toggleDropdown(filterDropdown)" class="filter-pane__dropdown-button">
        <span> {{ filterButtonLabel }} </span>
        <i class="h-icon-keyboard_arrow_down"></i>
      </button>
      <ul ngbDropdownMenu role="menu" class="dropdown-menu filter-pane__dropdown-menu">
        <li ngbDropdownItem>
          <input type="checkbox" [(ngModel)]="filterByGroup" (change)="loadFilters()"/>
          <span>By group</span>
        </li>
        <li ngbDropdownItem>
          <input type="checkbox" [(ngModel)]="filterByAuthor" (change)="loadFilters()"/>
          <span>By authors</span>
        </li>
        <li ngbDropdownItem>
          <input type="checkbox" [(ngModel)]="filterByText" (change)="loadFilters()"/>
          <span>By text</span>
        </li>
      </ul>
    </div>
    <multiple-select-autocomplete
            id="filter-groups-authors"
            [placeholder]="multipleSelectPlaceholder"
            [(modelArr)]="selectedGroupsAndAuthors"
            objectProperty="name"
            [filterByText]="filterByText"
            [(suggestionsArr)]="filterObjectList"
            (afterSelectItem)="afterSelectItem($event)"
            (afterRemoveItem)="afterRemoveItem($event)">
    </multiple-select-autocomplete>
  </div>
  <div class="filter-pane-footer">
    <button [disabled]="isClearButtonDisabled"
      (click)="clearFilters()"
      class="primary-action-btn filter-pane__clear-filter-btn"
      title="Clear the search filter and show all annotations">
      <i class="primary-action-btn__icon h-icon-close"></i> Clear filter
    </button>
    <span *ngIf="annotateVersion != undefined" class="filter-pane__version_panel">
      <p> Version: {{ annotateVersion }} </p>
    </span>
  </div>
</div>