<span *ngIf="isLoggedOut">
  <img  *ngIf="(thirdPartyGroupIcon != undefined) && isFocusedGroupPublic"
        class="group-list-label__icon group-list-label__icon--third-party"
        [src]="thirdPartyGroupIcon">
        <!-- nospace!-->
        <i class="group-list-label__icon h-icon-public"
          *ngIf="(thirdPartyGroupIcon == undefined) && isFocusedGroupPublic"></i>
        <!-- nospace!-->
        <i *ngIf="!isFocusedGroupPublic" class="group-list-label__icon h-icon-group"></i>
  <span class="group-list-label__label">{{ focusedGroupName }}</span>
</span>
<div class="pull-right"
      *ngIf="isLoggedIn"
      dropdown
      keyboard-nav>
  <div class="dropdown-toggle"
        dropdown-toggle
        data-toggle="dropdown"
        role="button"
        title="Change the selected group">
    <img class="group-list-label__icon group-list-label__icon--third-party"
          [src]="thirdPartyGroupIcon"
          *ngIf="(thirdPartyGroupIcon != undefined) && isFocusedGroupPublic"
    ><!-- nospace
    !--><i class="group-list-label__icon h-icon-public"
          *ngIf="(thirdPartyGroupIcon == undefined) && isFocusedGroupPublic"></i><!-- nospace
    !--><i class="group-list-label__icon h-icon-group"
           *ngIf="!isFocusedGroupPublic"></i>
    <span class="group-list-label__label">{{ focusedGroupName }}</span><!-- nospace
    !--><i class="h-icon-arrow-drop-down"></i>
  </div>
  <div class="dropdown-menu__top-arrow"></div>
  <ul class="dropdown-menu pull-none" role="menu">
    <li class="dropdown-menu__row dropdown-menu__row--unpadded "
        *ngFor="let group of groups.all(); trackBy: trackByGroup">
      <div [ngClass]="{'group-item': true, selected: group.id === groups.focused()?.id}"
            (click)="focusGroup(group.id)">
        <!-- the group icon !-->
        <div class="group-icon-container" [ngSwitch]="group.public">
          <img class="group-list-label__icon group-list-label__icon--third-party"
                [src]="thirdPartyGroupIcon"
                *ngIf="(thirdPartyGroupIcon != undefined) && group.public"
          >
          <i class="h-icon-public" *ngIf="(thirdPartyGroupIcon == undefined) && group.public"></i>
          <i class="h-icon-group" *ngIf="group.public"></i>
        </div>
        <!-- the group name and share link !-->
        <div class="group-details">
          <div class="group-name-container">
            <a class="group-name-link"
                href=""
                title="group.public ? 'Show public annotations' : 'Show and create annotations in ' + group.name">
              {{group.name}}
            </a>
          </div>
        </div>
      </div>
    </li>
    <li *ngIf="!isThirdPartyUser" class="dropdown-menu__row dropdown-menu__row--unpadded new-group-btn">
      <div class="group-item" (click)="createNewGroup()">
        <div class="group-icon-container"><i class="h-icon-add"></i></div>
        <div class="group-details">
          <a href="" class="group-name-link" title="Create a new group to share annotations">
            New group
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>