<div class="help-panel">
  <i class="close h-icon-close"
    role="button"
    title="Close"
    (click)="onCloseButtonClick()">
  </i>
  <header class="help-panel-title">
    Help
  </header>
  <div class="help-panel-content">
    <help-link
      [version]="version"
      [userAgent]="userAgent"
      [url]="url"
      [documentFingerprint]="documentFingerprint"
      [auth]="auth"
      [dateTime]="dateTime">
    </help-link> if you have any questions or want to give us feedback.
    You can also send <a class="help-panel-content__link" href="https://web.hypothes.is/get-help/" target="_blank">a support ticket</a>
    or visit our <a class="help-panel-content__link" href="https://web.hypothes.is/help/" target="_blank"> help documents</a>.
  </div>
  <header class="help-panel-title">
    About this version
  </header>
  <dl class="help-panel-content">
    <dt class="help-panel-content__key">Version: </dt>
    <dd class="help-panel-content__val">{{ version }}</dd>
    <dt class="help-panel-content__key">User agent: </dt>
    <dd class="help-panel-content__val">{{ userAgent }}</dd>
    <div *ngIf="url">
      <dt class="help-panel-content__key">URL: </dt>
      <dd class="help-panel-content__val">{{ url }}</dd>
    </div>
    <div *ngIf="documentFingerprint">
      <dt class="help-panel-content__key">PDF fingerprint: </dt>
      <dd class="help-panel-content__val">{{ documentFingerprint }}</dd>
    </div>
    <div *ngIf="auth?.userid">
      <dt class="help-panel-content__key">Username: </dt>
      <dd class="help-panel-content__val">{{ auth?.username || ''}}</dd>
    </div>
    <dt class="help-panel-content__key">Date: </dt>
    <dd class="help-panel-content__val">{{ dateTime | date:'dd MMM yyyy HH:mm:ss Z' }}</dd>
  </dl>
</div>