<span class="login-text"
      *ngIf="newStyle != undefined && auth?.status === 'unknown'">⋯</span>
<span class="login-text"
    *ngIf="newStyle != undefined && auth?.status === 'logged-out'">
  <a href="" (click)="onSignUpClick()" target="_blank" [hBranding]="'accentColor'">Sign up</a>
  / <a href="" (click)="onLoginClick()" [hBranding]="'accentColor'">Log in</a>
</span>
<div *ngIf="newStyle"
      class="pull-right login-control-menu"
      dropdown
      keyboard-nav>
  <a role="button"
      class="top-bar__btn"
      data-toggle="dropdown"
      dropdown-toggle
      [title]="auth?.username">
    <i class="h-icon-account" *ngIf="auth?.status === 'logged-in'"></i><!--
    !--><i class="h-icon-arrow-drop-down top-bar__dropdown-arrow"></i>
  </a>
  <ul class="dropdown-menu pull-right" role="menu">
    <li class="dropdown-menu__row" *ngIf="auth?.status === 'logged-in'">
      <span *ngIf="!shouldEnableProfileButton"
            class="dropdown-menu__link dropdown-menu__link--disabled js-user-profile-btn is-disabled">
        {{auth?.displayName}}</span>
      <a *ngIf="shouldEnableProfileButton"
          (click)="showProfile()"
          class="dropdown-menu__link js-user-profile-btn is-enabled"
          title="View all your annotations"
          target="_blank">{{auth?.displayName || ''}}</a>
    </li>
    <!-- LEOS Changes start: Remove Account Settings
    <li class="dropdown-menu__row" *ngIf="auth?.status === 'logged-in' && !isThirdPartyUser">
      <a class="dropdown-menu__link js-account-settings-btn" [href]="serviceUrl.get('account.settings')" target="_blank">Account settings</a>
    </li>
    LEOS Changes End -->
    <li class="dropdown-menu__row">
      <a class="dropdown-menu__link js-help-btn" (click)="onShowHelpPanelClick()">Help</a>
    </li>
    <li class="dropdown-menu__row" *ngIf="shouldShowLogOutButton">
      <a class="dropdown-menu__link dropdown-menu__link--subtle js-log-out-btn"
          href="" (click)="onLogoutClick()">Log out</a>
    </li>
  </ul>
</div>

<!-- Old controls -->
<span *ngIf="newStyle == undefined && auth?.status === 'unknown'">⋯</span>
<span *ngIf="newStyle == undefined && auth?.status === 'logged-out'">
  <a href="" (click)="onLoginClick()">Log in</a>
</span>
<div *ngIf="!newStyle"
      class="pull-right login-control-menu"
      dropdown
      keyboard-nav>
  <span role="button" data-toggle="dropdown" dropdown-toggle>
    {{ auth?.username }} <!--
    --><span class="provider"
              *ngIf="auth?.provider">/{{ auth?.provider }}</span><!--
    --><i class="h-icon-arrow-drop-down"></i>
  </span>
  <ul class="dropdown-menu pull-right" role="menu">
    <li class="dropdown-menu__row" *ngIf="auth?.status === 'logged-in'">
      <a class="dropdown-menu__link" [href]="serviceUrl.get('account.settings')" target="_blank">Account</a>
    </li>
    <li class="dropdown-menu__row" >
      <a class="dropdown-menu__link" (click)="onShowHelpPanelClick()">Help</a>
    </li>
    <li class="dropdown-menu__row" *ngIf="auth?.status === 'logged-in'">
      <a class="dropdown-menu__link" [href]="serviceUrl.get('user',{user: auth?.username})"
          target="_blank">My Annotations</a>
    </li>
    <li class="dropdown-menu__row" *ngIf="auth?.status === 'logged-in'">
      <a class="dropdown-menu__link" href="" (click)="onLogoutClick()">Log out</a>
    </li>
  </ul>
</div>