<textarea class="form-input form-textarea js-markdown-input"
        id="suggestion-editor"
        [hidden]="!showEditor"
        (click)="$event.stopPropagation()"
        (paste)="onPaste($event)"
        (blur)="onTextAreaBlur($event)"
        (focus)="onTextAreaFocus($event)"
        (menuColaborators)="onMenuColaborators($event)"
        [hBranding]="'annotationFontFamily'">
</textarea>
<div class="markdown-body js-markdown-preview"
        [ngClass]="customCssClass"
        [hidden]="showEditor"
        [hBranding]="'annotationFontFamily'"
        [innerHtml]="previewText">
</div> 