<div class="moderation-banner"
      *ngIf="isHiddenOrFlagged"
      [ngClass]="{'is-flagged': (flagCount || 0) > 0,
                'is-hidden': isHidden,
                'is-reply': isReply}">
  <span *ngIf="(flagCount || 0) > 0 && !isHidden">
    Flagged for review x{{ flagCount }}
  </span>
  <span *ngIf="isHidden">
    Hidden from users. Flagged x{{ flagCount }}
  </span>
  <span class="u-stretch"></span>
  <button *ngIf="!isHidden"
          (click)="hideAnnotation()"
          title="Hide this annotation from non-moderators">
    Hide
  </button>
  <button *ngIf="isHidden"
          (click)="unhideAnnotation()"
          title="Make this annotation visible to everyone">
    Unhide
  </button>
</div>