<div class="multiple-select-container">
    <div class="form-item-container">
        <ul class="list-inline">
            <li class="list-line-selection" *ngFor="let item of (modelArr || [])">
                <span *ngIf="objectProperty == undefined">
                    {{ item }} 
                    <span class="remove" (click)="removeAddedValues($event)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>&nbsp;
                </span>
                <span *ngIf="objectProperty != undefined">
                    {{ item[objectProperty] }}
                    <span class="remove" (click)="removeAddedValues(item)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>&nbsp;
                </span>
            </li>
            <li class="list-line-input">
                <input id="multiple-select-input"
                    [(ngModel)]="inputValue"
                    [name]="name || ''"
                    [placeholder]="placeholder || ''"
                    (keydown)="keyParser($event)"
                    (focus)="onFocus()" 
                    (blur)="onBlur()" 
                    [required]="(modelArr?.length || 0) == 0 && !!required"
                    (ngModelChange)="onChange($event)"/>
            </li>
        </ul>
        <div class="autocomplete-list" 
            [hidden]="!isFocused && !isHover" 
            (mouseenter)="onMouseEnter()" 
            (mouseleave)="onMouseLeave()"
        >
            <ul *ngIf="objectProperty == undefined">
                <li *ngFor="let suggestion of filteredSuggestions; index as $index"
                    [ngClass]="{'autocomplete-active' : selectedItemIndex == $index}"
                    (click)="onSuggestedItemsClick(suggestion)" 
                    (mouseenter)="mouseEnterOnItem($index)">
                    {{ suggestion }}
                </li>
            </ul>
            <ul *ngIf="objectProperty != undefined">
                <li *ngFor="let suggestion of filteredSuggestions; index as $index"
                    [ngClass]="{'autocomplete-active': selectedItemIndex == $index}"
                    (click)="onSuggestedItemsClick(suggestion)" 
                    (mouseenter)="mouseEnterOnItem($index)">
                    {{ suggestion[objectProperty] }}
                </li>
            </ul>
        </div>
    </div>
    <button class="filter-pane__input-field-icon search-button" (click)="onSearchButtonClick()"><i class="h-icon-search"></i></button>
</div>