<div ngbDropdown #dropdownMenu="ngbDropdown" role="group" (openChange)="onDropdownOpenChange($event);">
  <div class="publish-annotation-btn__btn">
    <dropdown-menu-btn
      [label]="!hasDropdown ? 'Post' : 'Post to ' + publishDestination" 
      (click)="onSaveClick($event)"
      (toggleDropdown)="onToggleDropdown($event, dropdownMenu)"
      [title]="publishBtnTitle"
      [dropdownMenuLabel]="'Change annotation sharing setting'" 
      [isDisabled]="!canPost"
      [hasDropdown]="hasDropdown">
    </dropdown-menu-btn>
  </div>
  <div *ngIf="hasDropdown" class="publish-annotation-btn__dropdown-anchor">
    <dropdown-menu
      *ngIf="showDropdown"
      (onSetPrivacy)="setPrivacy($event)"
      [groups]="getAllGroups()"
      [privateLabel]="privateLabel"
      (onUpdateSelectedGroup)="updateSelectedGroup($event);"
      [settings]="settings"
      [group]="group"
      [isforward]="isForward"
      [originGroup]="originGroup"
  ></dropdown-menu>    
  </div>
</div>
<button class="publish-annotation-cancel-btn btn-clean" 
  (click)="onCancelClick($event)"
  title="Cancel changes to this annotation"
  >
  <i class="h-icon-cancel-outline publish-annotation-cancel-btn__icon btn-icon"> </i> Cancel
</button>