<form class="simple-search-form"
        name="searchForm"
        [ngClass]="(query != undefined) ? 'simple-search-inactive' : ''">
    <input class="simple-search-input"
           type="text"
           name="query"
           [placeholder]="isLoading ? 'Loading' : 'Search' + '...'"
           [disabled]="isLoading"
           [ngClass]="inputClasses"/>
    <button type="button" class="simple-search-icon top-bar__btn" [hidden]="isLoading">
      <i class="h-icon-search"></i>
    </button>
    <button type="button" class="simple-search-icon btn btn-clean" [hidden]="!isLoading" disabled>
      <span class="btn-icon"><span class="spinner"></span></span>
    </button>
</form>
