<!-- Tabbed display of annotations and notes. -->
<div class="selection-tabs"
  [ngClass]="{'selection-tabs--theme-clean' : isThemeClean }">  
  <div class="selection-tabs__type"
      [ngClass]="{'is-selected': isAnnotationsTabSelected}"
      [hOnTouch]="selectAnnotationsTab">
    Annotations
    <span class="selection-tabs__count"
      *ngIf="(totalAnnotations || 0) > 0 && !isWaitingToAnchorAnnotations">
      {{ totalAnnotations }}
    </span>
  </div>
  <div class="selection-tabs__type"
      [ngClass]="{'is-selected': isNotesTabSelected}"
      [hOnTouch]="selectNotesTab">
    <!--  LEOS change 3632  -->
    Document Notes
    <span class="selection-tabs__count"
      *ngIf="(totalNotes || 0) > 0 && !isWaitingToAnchorAnnotations">
      {{ totalNotes }}
    </span>
  </div>
  <div class="selection-tabs__type selection-tabs__type--orphan"
    *ngIf="(totalOrphans || 0) > 0"
    [ngClass]="{'is-selected': isOrphansTabSelected}"
    [hOnTouch]="selectOrphansTab">
    Orphans
    <span class="selection-tabs__count"
      *ngIf="(totalOrphans || 0) > 0 && !isWaitingToAnchorAnnotations">
      {{ totalOrphans }}
    </span>
  </div>
</div>
<new-note-btn *ngIf="showNewNoteBtn">
</new-note-btn>
<div *ngIf="!isLoading" class="selection-tabs__empty-message">
  <div *ngIf="showNotesUnavailableMessage" class="annotation-unavailable-message">
    <div class="annotation-unavailable-message__label">
      There are no page notes in this group.
      <br />
      <div *ngIf="!enableExperimentalNewNoteButton && !showSidebarTutorial" class="annotation-unavailable-message__tutorial">
        Create one by clicking the
        <i class="help-icon h-icon-note"></i>
        button.
      </div>
    </div>
  </div>
  <div *ngIf="showAnnotationsUnavailableMessage" class="annotation-unavailable-message">
    <div class="annotation-unavailable-message__label">
      There are no annotations in this group.
      <br/>
      <div *ngIf="!showSidebarTutorial" class="annotation-unavailable-message__tutorial">
        Create one by selecting some text and clicking the
        <i class="help-icon h-icon-annotate"></i> button.
      </div>
    </div>
  </div>
</div>