<div *ngIf="areExtendedActionsShown" ngbDropdown #actionDropdown="ngbDropdown">
    <button type="button"
            (click)="toggleDropdown(actionDropdown)"
            class="leos-selection-pane__button"
            *ngIf="(selectedAnnotationCount || 0) > 0"
            [ngStyle]="{'background-color': (selectedAnnotationCount || 0) > 0 ? '#0066A5' : ''}"
    >
        Actions
        <i class="sidebar-menu-icon"></i>
    </button>
    <ul class="dropdown-menu pull-right" role="menu" ngbDropdownMenu>
        <li ngbDropdownItem class="dropdown-menu__row"
            *ngIf="!isAcceptAndRejectDisabled"
            (click)="isAcceptAndRejectDisabled ? null : onAccept()"
            title="Accept selected suggestions"
        >
            Accept
        </li>
        <li ngbDropdownItem class="dropdown-menu__row"
            *ngIf="!isAcceptAndRejectDisabled"
            (click)="isAcceptAndRejectDisabled ? null : onReject()"
            title="Reject selected suggestions"
        >
            Reject
        </li>

        <li ngbDropdownItem class="dropdown-menu__row red-action"
            *ngIf="!isDeleteDisabled"
            (click)="isDeleteDisabled ? null : onDelete()"
            title="Delete selected annotations"
        >
            Delete
        </li>
        <li ngbDropdownItem class="dropdown-menu__row"
            *ngIf="!isTreatDisabled"
            (click)="isTreatDisabled ? null : onTreat()"
            title="Treat selected annotations"
        >
            Mark as processed
        </li>
        <li ngbDropdownItem class="dropdown-menu__row"
            *ngIf="!isResetDisabled"
            (click)="isResetDisabled ? null : onReset()"
            title="Reset selected annotations"
        >
            Mark as not processed
        </li>
        <li ngbDropdownItem
            *ngIf="!hasActions"
            class="dropdown-menu__row"
            title="No actions available"
        >
            No actions available
        </li>
    </ul>
</div>