<div class="leos-selection-pane" *ngIf="isSelectionPaneShown">
	<div class="leos-selection-pane__grid">
		<div class="leos-selection-pane__select-section">
			<button *ngIf="!isSelectAllDisabled" class="select-all-checkbox"
					(click)="selectAllFilteredActionableAnnotations()"
			>
			</button>
			<button class="deselect-all-checkbox" *ngIf="isSelectAllDisabled && !isDeselectAllDisabled"
					(click)="deselectAll()"><i class="annotation__checkmark-icon"></i></button>
			<span class="select-all-label">Select all</span>
		</div>
		<div *ngIf="areExtendedActionsShown" class="leos-selection-pane__actions-section">
			<selection-pane-actions-dropdown
					(accept)="accept()"
					(reject)="reject()"
					(treat)="treat()"
					(delete)="delete()"
					(reset)="reset()"
					[areExtendedActionsShown]="areExtendedActionsShown"
					[isAcceptAndRejectDisabled]="isAcceptAndRejectDisabled"
					[isDeleteDisabled]="isDeleteDisabled"
					[isTreatDisabled]="isTreatDisabled"
					[isResetDisabled]="isResetDisabled"
					[selectedAnnotationCount]="selectedAnnotationCount">
			</selection-pane-actions-dropdown>
		</div>
		<div class="selection-pane__sort">
			<sort-dropdown
					[sortKey]="sortKey"
					[sortKeysAvailable]="sortKeysAvailable"
					(changeSortKey)="onChangeSortKey($event)">
			</sort-dropdown>
		</div>
	</div>
</div>