<div class="sheet">
  <i class="close h-icon-close"
      role="button"
      title="Close"
      (click)="onCloseClick()"></i>
  <div class="form-vertical">
    <ul class="nav nav-tabs">
      <li class="active"><a href="">Share</a></li>
    </ul>
    <div class="tab-content">
      <p>Share the link below to show anyone these annotations and invite them to contribute their own.</p>
      <p><input class="js-via form-input"
          type="text"
          [value]="viaPageLink"
          readonly /></p>
      <p class="share-link-icons">
      <a href="https://twitter.com/intent/tweet?url={{urlEncode(viaPageLink)}}&hashtags=annotated"
          target="_blank"
          title="Tweet link"
          class="share-link-icon h-icon-twitter"
          (click)="onShareClick('twitter')"></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{urlEncode(viaPageLink)}}"
          target="_blank"
          title="Share on Facebook"
          class="share-link-icon h-icon-facebook"
          (click)="onShareClick('facebook')"></a>
      <a href="https://plus.google.com/share?url={{urlEncode(viaPageLink)}}"
          target="_blank"
          title="Post on Google Plus"
          class="share-link-icon h-icon-google-plus"
          (click)="onShareClick('googlePlus')"></a>
      <a href="mailto:?subject=Let's%20Annotate&amp;body={{viaPageLink}}"
          target="_blank"
          title="Share via email"
          class="share-link-icon h-icon-mail"
          (click)="onShareClick('email')"></a>
      </p>
    </div>
  </div>
</div>