<div class="sidebar-header">
    <div *ngIf="isSidebarOpen" class="sidebar-header--title"> Annotations & documents notes </div>
    <toggle-sidebar-button
            [isSidebarOpen]="isSidebarOpen">
    </toggle-sidebar-button>
</div>