<selection-tabs
        *ngIf="isFilterReseted"
        [isWaitingToAnchorAnnotations]="isWaitingToAnchorAnnotations"
        [isLoading]="isLoading"
        [selectedTab]="selectedTab"
        [totalAnnotations]="totalAnnotations"
        [totalNotes]="totalNotes"
        [totalOrphans]="totalOrphans">
</selection-tabs>
<selection-pane *ngIf="selectionPaneAvailable"
                [filterActive]="!isFilterReseted"
                [filterMatchCount]="visibleCount()"
                [selectedTab]="selectedTab"
                [thread]="rootThread">
</selection-pane>
<div class="annotation-unavailable-message"
     *ngIf="selectedAnnotationUnavailable">
  <div class="annotation-unavailable-message__icon"></div>
  <p class="annotation-unavailable-message__label">
    <span *ngIf="isUserLoggedOut">
      This annotation is not available.
      <br>
      You may need to
      <a class="loggedout-message__link" href="" (click)="login()">log in</a>
      to see it.
    </span>
    <span *ngIf="isUserLoggedIn">
      You do not have permission to view this annotation.
    </span>
  </p>
</div>
<thread-list
        (onChangeCollapsed)="setCollapsed($event)"
        (onForceVisible)="forceVisible($event)"
        [showDocumentInfo]="false"
        [thread]="rootThread">
</thread-list>
<loggedout-message *ngIf="shouldShowLoggedOutMessage" (onLogin)="login()">
</loggedout-message>