<div class="app-content-wrapper" [hBranding]="'appBackgroundColor'">
  <top-bar *ngIf="false"
          [auth]="auth"
          (onLogin)="login()"
          (onSignUp)="signUp()"
          (onLogout)="logout()"
          (onSharePage)="share()"
          (onShowHelpPanel)="showHelpPanel()"
          [isSidebar]="isSidebar"
          [isSidebarOpen]="isSidebarOpen"
          [pendingUpdateCount]="pendingUpdatesCount"
          (onApplyPendingUpdates)="applyPendingUpdates()"
          [searchController]="search">
  </top-bar>
  <div class="content" [hidden]="showSidebarToggleBtn && !isSidebarOpen">
    <filter-pane [searchController]="search" 
      [pendingUpdatesCount]="pendingUpdatesCount"
      (applyPendingUpdates)="applyPendingUpdates()"
    ></filter-pane>
    <sidebar-tutorial *ngIf="isSidebar"></sidebar-tutorial>
    <share-dialog
            *ngIf="shareDialog.visible"
            (onClose)="onShareDialogClose()">
    </share-dialog>
    <help-panel *ngIf="helpPanel.visible"
                (onClose)="onHelpPanelClose()"
                [auth]="auth">
    </help-panel>
    <router-outlet></router-outlet>
  </div>
</div>