<div class="sheet" *ngIf="showSidebarTutorial &&  !isThemeClean">
    <i class="h-icon-cancel sidebar-tutorial-icons sidebar-tutorial-cancel-button" role="button" title="Close"
       (click)="dismiss()"></i>
    <h1 class="sidebar-tutorial__header">How to get started</h1>
    <ol class="sidebar-tutorial__list">
      <li class="sidebar-tutorial__list-item">
        <div class="sidebar-tutorial-div-inline">
          <p class="sidebar-tutorial__list-item-content">
          To create a comment, select text and click on the
          </p>
        </div>
        <div class="sidebar-tutorial-icons-div">
          <i class="h-icon-annotate sidebar-tutorial-icons"></i>
          <span class="sidebar-tutorial-label">Comment</span>
        </div>
        <div class="sidebar-tutorial-div-inline"><p> button.</p></div>
      </li>
      <li class="sidebar-tutorial__list-item">
        <div class="sidebar-tutorial-div-inline">
        <p class="sidebar-tutorial__list-item-content">
          To create a suggestion, select text and click on the
        </p>
        </div>
        <div class="sidebar-tutorial-icons-div">
        <i class="h-icon-suggestion sidebar-tutorial-icons"></i>
          <span class="sidebar-tutorial-label">Suggest</span>
        </div>
        <div class="sidebar-tutorial-div-inline"><p> button.</p></div>
      </li>
      <li class="sidebar-tutorial__list-item">
        <div class="sidebar-tutorial-div-inline">
        <p class="sidebar-tutorial__list-item-content">
          To create highlight, select text and click the
        </p>
        </div>
        <div class="sidebar-tutorial-icons-div">
        <i class="h-icon-highlight sidebar-tutorial-icons"></i>
          <span class="sidebar-tutorial-label">Highlight</span>
        </div>
        <div class="sidebar-tutorial-div-inline"><p> button.</p></div>
      </li>
      <li class="sidebar-tutorial__list-item">
        <div class="sidebar-tutorial-div-inline">
        <p class="sidebar-tutorial__list-item-content">
          To filter the annotations click the
        </p>
        </div>
        <div class="sidebar-tutorial-icons-div">
        <i class="h-icon-search sidebar-tutorial-icons"></i>
        </div>
        <div class="sidebar-tutorial-div-inline"><p> button and apply the filters you need.</p></div>
      </li>
      <!-- LEOS Changes: Don't show for share feature, for groups management
      <li class="sidebar-tutorial__list-item">
        <p class="sidebar-tutorial__list-item-content">
          To share an annotated page, click the
          <i class="h-icon-annotation-share"></i>&nbsp;button at the top.
        </p>
      </li>
      <li class="sidebar-tutorial__list-item">
        <p class="sidebar-tutorial__list-item-content">
          To create a private group, select <strong>Public</strong>,
          open the dropdown, click&nbsp;<strong>+&nbsp;New&nbsp;group</strong>.
        </p>
      </li>
      -->
    </ol>
  </div>
  <div class="sheet sheet--is-theme-clean" *ngIf="showSidebarTutorial && isThemeClean">
    <i class="close h-icon-close" role="button" title="Close"
       (click)="dismiss()"></i>
    <h1 class="sidebar-tutorial__header sidebar-tutorial__header--is-theme-clean">
      <i class="h-icon-annotate sidebar-tutorial__header-annotate" [hBranding]="'accentColor'"></i>
      Start annotating
    </h1>
    <ol class="sidebar-tutorial__list">
      <li class="sidebar-tutorial__list-item sidebar-tutorial__list-item--is-theme-clean">
        <div class="sidebar-tutorial__list-item-content">
          Select some text to
            <span class="sidebar-tutorial__list-item-annotate">annotate</span>
            <svg-icon class="sidebar-tutorial__list-item-cursor" [name]="'cursor'"></svg-icon>
          or highlight.
        </div>
      </li>
      <li class="sidebar-tutorial__list-item sidebar-tutorial__list-item--is-theme-clean">
        <div class="sidebar-tutorial__list-item-content sidebar-tutorial__list-item-content--is-theme-clean">
          Create page level notes
          <span class="sidebar-tutorial__list-item-new-note-btn" [hBranding]="'ctaBackgroundColor'">
            + New note
          </span>
        </div>
      </li>
      <li class="sidebar-tutorial__list-item sidebar-tutorial__list-item--is-theme-clean">
        <div class="sidebar-tutorial__list-item-content">
          View annotations through your profile
          <i class="h-icon-account sidebar-tutorial__list-item-profile"></i>
          <i class="h-icon-arrow-drop-down sidebar-tutorial__list-item-drop-down"></i>
        </div>
      </li>
    </ol>
</div>