<div ngbDropdown #sortDropdown="ngbDropdown" role="group">
  <button
          type="button"
          id="sortMenuButton"
          class="selection-pane__sort-button"
          (click)="toggleDropdown(sortDropdown)"
          [title]="'Sort by ' + sortKey">
    <i class="h-icon-sort"></i>
  </button>
  <div class="dropdown-menu__top-arrow">
    <ul ngbDropdownMenu class="dropdown-menu pull-right" role="menu" aria-labelledby="sortMenuButton">
      <li *ngFor="let key of sortKeysAvailable"
          ngbDropdownItem
          class="dropdown-menu__row"
          (click)="onChangeSortKey(key)"
      >
        <span class="dropdown-menu-radio"
              [ngClass]="{'is-selected' : sortKey === key}"
        ></span>
        <div class="dropdown-menu__link" >
          {{ key }}
        </div>
      </li>
    </ul>
  </div>
</div>