<div class="annotation-leos-actions">
    <button class="suggestion-merge-action"
        [title]="getAcceptTitle()"
        [disabled]="isAcceptDisabled"
        (click)="accept(); $event.stopPropagation();"
        [hBranding]="'ctaTextColor, ctaBackgroundColor'">Accept</button>
    <button *ngIf="!hideRejectButton"
        class="publish-annotation-cancel-btn btn-clean"
        [title]="getRejectTitle()"
        [disabled]="isRejectDisabled"
        (click)="onReject(); $event.stopPropagation();">Reject</button>
</div>