<ul class="thread-list">
    <li class="thread-list__spacer"
        [ngStyle]="{height: virtualThreadList.offscreenUpperHeight}"></li>
    <li *ngFor="let child of virtualThreadList.visibleThreads; trackBy: trackByItemId;">
        <div [id]="child.id"
            class="thread-list__card"
            (mouseenter)="_onFocus(child.annotation)"
            [ngClass]="{'thread-list__card--theme-clean' : isThemeClean ,
                        'is-annotations-processed' : isProcessed(child.annotation),
                        'is-suggestion' : child.annotation?.tags?.includes('suggestion') || '',
                        'is-comment' : child.annotation?.tags?.includes('comment') || '',
                        'is-highlight' : child.annotation?.tags?.includes('highlight') || '',
                        'is-annotation-selected' : isSelected(child.annotation) || isHovered(child.annotation)}"
            (click)="onSelectClick($event, child.annotation)"
            (mouseleave)="_onFocus(null)">
            <annotation-thread
                [thread]="child"
                [showDocumentInfo]="showDocumentInfo"
                (onChangeCollapsed)="_onChangeCollapsed($event)"
                (onForceVisible)="_onForceVisible($event)">
            </annotation-thread>
        </div>
        <hr *ngIf="isThemeClean"
            class="thread-list__separator--theme-clean"/>
    </li>
    <li [id]="child.id"
        [hidden]="true"
        *ngFor="let child of virtualThreadList.invisibleThreads; trackBy: trackByItemId">
            <annotation-thread [thread]="child" />
    </li>
    <li class="thread-list__spacer"
        [ngStyle]="{'height': virtualThreadList.offscreenLowerHeight}">
    </li>
</ul>