<div [ngSwitch]="href">
  <span *ngSwitchCase=""
        [ngClass]="className"
        [title]="absoluteTimestamp">
    {{ absoluteTimestamp }}
  </span>
  <a *ngSwitchDefault
      [ngClass]="className"
      target="_blank"
      [title]="absoluteTimestamp"
      [href]="href">
      {{ absoluteTimestamp }}
  </a>
</div>