<button (click)="onClick()" class="sidebar-header--toggle-btn">
    <i [title]="isSidebarOpen ? 'Close Sidebar' : 'Open Sidebar'"
        [class]="isSidebarOpen ? 'leos-sidebar__close-sidebar-icon' : 'leos-sidebar__open-sidebar-icon'"
    ></i>
</button>