<!-- top bar for the sidebar and the stream. !-->
<div class="top-bar"  [ngClass]="{'top-bar--theme-clean' : isThemeClean }">
  <!-- Legacy design for top bar, as used in the stream !-->
  <div class="top-bar__inner content" *ngIf="!isSidebar">
    <search-input
            class="search-input"
            (query)="searchController?.query() || ''"
            (onSearch)="searchControllerUpdate($event)"
            always-expanded="true">
    </search-input>
    <div class="top-bar__expander"></div>
    <login-control
            [auth]="auth"
            new-style="false"
            (onShowHelpPanel)="showHelpPanel()"
            (onLogin)="login()"
            (onLogout)="logout()">
    </login-control>
  </div>
  <div class="top-bar__inner content" *ngIf="isSidebar">
    <group-list class="group-list LEOS-HIDE" [auth]="auth"></group-list>
    <div class="top-bar__expander"></div>
    <a class="top-bar__apply-update-btn"
       *ngIf="(pendingUpdateCount || 0) > 0"
       (click)="applyPendingUpdates()"
       [hTooltip]
       tooltip-direction="up"
       [ariaLabel]="'Show ' + (pendingUpdateCount || 0) + 'new/updated annotation(s)'">
      <svg-icon class="top-bar__apply-icon" name="'refresh'"></svg-icon>
    </a>
    <search-input
            class="search-input LEOS-HIDE"
            (query)="searchController?.query() || ''"
            (onSearch)="searchControllerUpdate($event)"
            title="Filter the annotation list">
    </search-input>
  </div>
</div>