// Colors and shades of gray
// Names courtesy of http://chir.ag/projects/name-that-color

// Layout margins
// -------------------------
$layout-h-margin: 5px;
$layout-v-margin: 10px;
$highlight-border-size: 1px;

$leos-annotation-header-height: 50px;
$annotation-card-border-radius: 5px;

// Highlight colors
//-------------------------------
$highlight-color: #FDD7DF;
$highlight-border-color: #AF979D;
$highlight-color-second: #FCABBD;
$highlight-border-color-second: #A5737E;
$highlight-color-third: #FF7C99;
$highlight-border-color-third: #A74C62;
$highlight-color-fourth: #E96783;
$highlight-border-color-fourth: #9F4A5E;
$highlight-border-color-focus: #77AABB;
$leos-highlight-color: #FFFFC4;
$leos-highlight-border-color: #D5D59E;

// Annotation colors
//------------------------------
$leos-annotation-background-color: white;
$leos-suggestion-background-color: white;
$leos-processed-annotation-background-color: #D3D3D3;
$leos-suggestion-border-color:lightgrey;
$leos-annotation-text-color: #595959;

// Button colors
//------------------------------
$leos-btn-text-color: #004697;
$leos-hover-btn-text-color: #298ABF;
$leos-header-user-color: #202020;
$selected-tab-blue: blue;
$selected-tab-background-color: #ECECEC;

// Colors
// -------------------------
$smoke-white: #F5F5F5;

$white: #fff !default;
$black: #000 !default;

$MAIN_BLUE: #0066A5;
$LIGHT_BLUE: #7bd2f6;
$BLUE_CLEAR: #BDE8FA;
$BLUE_MILESTONE_TITLE:#0071E0;


// Grays
// ---------------------
$gray: #777 !default;
$gray-dark: #585858;
$gray-light: #969696 !default;
$gray-lighter: #d3d3d3 !default;
$gray-lightest: #f9f9f9 !default;

$color-mine-shaft: #3A3A3A;
$color-dove-gray: #626262;
$color-gray: #818181;
$color-silver-chalice: #a6a6a6;
$color-silver: #bbb;
$color-seashell: #f1f1f1;


// Colors
// ---------------------
$color-cardinal: #bd1c2b;
$brand-color: #bd1c2b !default;

$button-text-color: $gray-dark !default;
$button-background-start: $white !default;
$button-background-end: #f0f0f0 !default;
$button-background-gradient: to bottom, $button-background-start, $button-background-end !default;

$error-color: #f0480c !default;
$success-color: #1cbd41 !default;

$filter-choice-bg-color: #f8f8ff;
$filter-choice-border-color: #d3d3d3;

// Variables for the new color palette
// ------------------------------------
$grey-1: #F2F2F2;
$grey-2: #ECECEC;
$grey-3: #DBDBDB;
$grey-4: #A6A6A6;
$grey-5: #7A7A7A;
$grey-6: #3F3F3F;
$grey-7: #202020;

$brand: #BD1C2B;
$highlight: #58CEF4;


@function color-weight($c, $n: 500) {
  @if $n == 50 {
    @return tint($c, 85%);
  } @if $n == 100 {
    @return tint($c, 70%);
  } @if $n == 200 {
    @return tint($c, 50%);
  } @if $n == 300 {
    @return tint($c, 30%);
  } @if $n == 400 {
    @return tint($c, 15%);
  } @if $n == 500 {
    @return $c;
  } @if $n == 600 {
    @return shade($c, 15%);
  } @if $n == 700 {
    @return shade($c, 30%);
  } @if $n == 800 {
    @return shade($c, 50%);
  } @if $n == 900 {
    @return shade($c, 85%);
  }
}


// Scaffolding
// -------------------------
$body-background:        $white !default;
$text-color:             $gray-dark !default;


// Links
// -------------------------
$link-color:             $brand-color !default;
$link-color-hover:       color-weight($brand-color, 700) !default;


// Typography
// -------------------------
$sans-font-family:        "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$mono-font-family:        Open Sans Mono, Menlo, DejaVu Sans Mono, monospace !default;

$base-font-size:          16px !default;
$base-line-height:        20px !default;

$body1-font-size:         12px;
$body1-line-height:       1.4em;

$body2-font-size:         14px;

$title-font-weight:       bold;

$normal-font-size: 13px;
$normal-line-height: 17px;

$small-font-size: 11px;
$small-line-height: 12px;

// Z-Index Scale
// -------------------------
$zindex-tooltip: 20;


// Other Variables
// -------------------------
$bucket-bar-width: 0px;
$highlight-color-fourth: rgba(160, 160, 60, 0.4);
$highlight-color-focus: rgba(156, 230, 255, 0.5);
$highlight-color-select: rgba(106, 197, 250, 1);
$top-bar-height: 44px;

// Mixins
// ------
@mixin font-small {
  font-size: $small-font-size;
  line-height: $small-line-height;
  font-weight: 400;
}

@mixin font-normal {
  font-size: $normal-font-size;
  line-height: $normal-line-height;
  font-weight: 400;
}
