.annotation-header {
  height: $leos-annotation-header-height;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: $layout-h-margin $layout-v-margin;
  margin: $layout-h-margin 0px 0px 0px;
  border-bottom: 1px solid lightgray;
  overflow: visible;

  .annotation-header__suggestion-icon {
      content: url("../../../../assets/images/icons/lightbulb.svg");
  }

  .annotation-header__highlight-icon {
      content: url("../../../../assets/images/icons/flashlight.svg");
  }

  .annotation-header__comment-icon {
      content: url("../../../../assets/images/icons/chat-dots-fill.svg");
  }

  .annotation-header__checkbox {
    margin: auto 5px auto 0px;

    .select-checkbox {
      height: 19px;
      width: 19px;
      background-color: white;
      border: solid 1px $gray;
      margin:auto;
    }

    .deselect-checkbox {
      height: 19px;
      width: 19px;
      background-color: $MAIN_BLUE;
      border: solid 1px $gray;
      color: white;
      padding: 2px;

      i {
        width: 13px;
        height: 13px;
        filter: invert(1);
      }
    }
  }

  .annotation-header__type {
    margin: auto 5px;

  }

  .annotation-header__main {
    grid-template-rows: auto auto;
    padding-left: $layout-h-margin;
    flex-shrink: 2;
    flex-grow: 2;
    width: 60%;

    .annotation-header__user {
      grid-row: 1;
      height: 17px;

      @include font-normal;
      color: $leos-header-user-color;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .annotation-header__timestamp {
      grid-row: 2;
      height: 13px;

      @include font-small;
      font-size: 12px;
      color: $leos-annotation-text-color;
    }
  }

  .annotation-header_suggestion-buttons {
    float: right;
  }

  .annotation-header__menu {
    margin: auto;
    padding: 0;
    overflow: visible;
    justify-self: flex-end;

    .menu_btn {
      margin: auto;
      padding: 10px;
      border: none;
      background-color: transparent;
      justify-self: right;

      i{
        filter: invert(0.3);
      }
    }

    .dropdown-content:before {
         border-bottom-color: transparent !important;
    }

    .dropdown-content:after {
         border-bottom-color: transparent !important;
    }

    .dropdown-content {
      width: 150px;
      position: absolute;
      background-color: white;
      z-index: 5;
      border: 2px solid lightgray;
      overflow: visible;
      right: 0;

      .menu-item {
        padding: $layout-h-margin $layout-v-margin;
      }
    }
  }
}

.processed-annotation-header {
  border-bottom-color: white !important;
}

.annotation__checkmark-icon {
    content: url("../../../../assets/images/icons/checkmark.svg");
    filter: invert(1);
}

// Highlight quote of annotation whenever its thread is hovered
.thread-list__card:hover .annotation-quote {
  border-left: $highlight 3px solid;
  color: $grey-5;
}

// When hovering a top-level annotation, show the footer in a hovered state.
// When hovering a reply (at any level), show the reply's own footer in
// a hovered state and also the footer of the top-level annotation.
.thread-list__card:hover > .annotation,
.annotation:hover {
  .annotation-replies__link,
  .annotation-replies__count,
  .annotation-action-btn {
    color: $grey-6;
  }

  .annotation-header__timestamp {
    color: $leos-annotation-text-color;
  }
}

.annotation {
  display: block;
  font-family: $sans-font-family;
  position: relative;

  &__justification-container {
    margin-top: 1em;
    display: grid;
  }

  &__justification-text {
    margin-top: 0.5em;
    margin-left: 1em;
  }
}

.annotation.is-dimmed {
  // Lighten the username and bodies of dimmed annotations to make other
  // annotations which are not dimmed stand out
  .annotation-header__user,
  .annotation-body {
    color: $grey-5;

  }
}

.annotation.is-highlighted {
  // Slightly darken the username and bodies of highlighted annotations to
  // make them stand out next to others, which will have the `is-dimmed` state
  // set
  .annotation-header__user,
  .annotation-body {
    color: $grey-7;
  }
}

.annotation-link {
  @include font-small;
  color: $grey-4;
  // Decrease the margin between the more/less link
  // and the annotation body.
  margin-top: -12px;

}

.annotation-replies:hover {
  .annotation-replies__link {
    text-decoration: underline;
  }
}

.annotation-quote-list,
.annotation-header,
.annotation-footer {
  @include pie-clearfix;
}

.annotation-header__share-info {
  color: $grey-5;
  @include font-normal;
  padding-top: 10px;
}

.annotation-header__group {
  color: $color-gray;
  font-size: $body1-font-size;
}

.annotation-header__group-name {
  display: inline-block;
  margin-left: 5px;
}

.annotation-body {
  @include font-normal;
  color: $grey-6;
  margin: $layout-v-margin $layout-h-margin 0px $layout-v-margin;
  padding: $layout-v-margin;
}

.annotation-body-forward {
display: grid;
grid-template-columns:min-content auto;
align-items: center;
margin:0.3em 0em;

  .textfield{
    margin: 0.5em;
    border:solid;
    border-radius: 6px;
    border-width: 2px;
    border-color:lightgray;
    padding: 0.5em;

    .forward-reply{
      margin: 1em 1em 0em;
      display: grid;
      grid-template-columns:min-content auto;

      .icon-in-forward{
        color: lightgray;
      }

      .reply-text{
        margin-left: 0.7em;
        padding-left: 0.3em;
        border-left: 2px solid;
        border-color:lightgray;
      }
    }
  }
}

// Hidden annotations displayed to moderators, where the content is still
// present.
.annotation-body.is-hidden.has-content {
  text-decoration: line-through;
  filter: grayscale(100%) contrast(65%);
}

// Hidden annotations displayed to non-moderators, where the content has been
// filtered out by the service.
.annotation-body.is-hidden:not(.has-content) {
  // Create a column of horizontal stripes, giving the impression of text
  // underneath that has been censored.
  display: block;
  height: 60px;
  background: repeating-linear-gradient(
    to bottom,
    $grey-2, $grey-2 15px, white 15px, white 20px
  );
}

// the footer at the bottom of an annotation displaying
// the annotation actions and reply counts
.annotation-footer {
  @include font-normal;
  color: $grey-5;
  margin: 0px $layout-v-margin $layout-v-margin $layout-v-margin;
}

.u-flex-spacer {
  flex-grow: 1;
}

.annotation-quote-list {
  // Margin between top of ascent of annotation quote and
  // bottom of ascent of username should be ~15px
  margin-top: $layout-h-margin - 5px;
  // Margin between bottom of ascent of annotation quote and
  // top of ascent of annotation-body should be ~15px
  margin-bottom: $layout-h-margin - 3px;
}

.annotation-quote-list .is-orphan {
  font-weight: bold;
  text-decoration: line-through;
}

.annotation-media-embed {
  width: 369px;
  height: 208px;
}

.annotation-replies {
  float: left;
  margin-right: 10px;
}

.annotation-replies__link,
.annotation-replies__count {
  @include font-normal;
  color: $grey-5;
}

.annotation-actions {
  float: right;
  margin-top: 0;
  display: flex;
}

.annotation-action-btn {
  color: $grey-5;
  font-weight: normal;
  padding: 0;
  margin: 0px 0px 0px 12px;

  &[disabled] {
    opacity: 0.2;
  }
}

.annotation-quote {

  @include quote;
  // Prevent long URLs etc. in quote causing overflow
  overflow-wrap: break-word;
  margin-left: $layout-v-margin;
}

.annotation-citation-domain {
  color: $gray-light;
  font-size: $body1-font-size;
}

.annotation-license {
  clear: both;
  border-top: #cccccc 1px solid;
  font-size: 0.8em;
  padding-top: 0.583em;

  @include icons {
    font-size: $normal-font-size;
    vertical-align: -2px;
    margin-right: 1px;
  }
}

.annotation-license__link {
  color: $gray-light;
  display: block;
}

.annotation-collapsed-replies {
  display: none;
}

.annotation--reply.is-collapsed {
  margin-bottom: 0;

  .annotation-header {
    margin: 0;
  }

  .annotation-body, .annotation-footer {
    display: none;
  }

  .annotation-collapsed-replies {
    display: inline;
    margin-left: .25em;
  }
}

.annotation-share-dialog-wrapper {
  position: relative;
}

// the actions for publishing annotations and reverting changes
// at the bottom of an annotation card
.annotation-form-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

// Style adjustments for annotation cards that are replies
.annotation-reply {


  .annotation-action-btn {
    color: $grey-4;
  }

  .annotation-footer {
    // Margin between bottom of ascent of annotation body and
    // top of annotation footer should be ~15px
    margin-top: $layout-h-margin - 8px;
  }

  .annotation-header {
    // Margin between bottom of ascent of annotation card footer labels
    // and top of ascent of username should be ~20px
    margin-top: 0px;
    border: none;
  }

  .annotation-body {
    // Margin between top of ascent of annotation body and
    // bottom of ascent of username should be ~15px
    margin-top: $layout-h-margin - 8px;
    // Margin between bottom of ascent of annotation body and
    // top of annotation footer labels should be ~15px
    margin-bottom: 5px;
  }
}

.annotation--flagged {
  color: $brand-color;
  cursor: default;
}

.leos-annotation-info {
  padding-top: 7px;
  font-weight: bold;
}

%leos-metadata-info {
  border-left-style: solid;
  border-left-color: grey;
  border-left-width: 0.5px;
  border-right-style: solid;
  border-right-color: grey;
  border-right-width: 0.5px;
  padding-left: 10px;
  padding-right: 10px;
}

.leos-metadata-info-0 {
  @extend %leos-metadata-info;
  color: blue;
}

.leos-metadata-info-1 {
  @extend %leos-metadata-info;
  color: purple;
}

.leos-metadata-info-2 {
  @extend %leos-metadata-info;
  color: green;
}

.leos-metadata-info-3 {
  @extend %leos-metadata-info;
  color: orangered;
}

.leos-metadata-info-4 {
  @extend %leos-metadata-info;
  color: violet;
}

.annotation-quote {
  color: $leos-annotation-text-color;
}