// the primary action button for a form
.dropdown-menu-btn {
  $hover-background-color: $leos-hover-btn-text-color;
  $text-color: $color-seashell;
  $default-background-color: $color-dove-gray;
  $h-padding: 9px;
  $height: 22px;
  $border-radius: 2px;
  $arrow-indicator-width: 26px;

  height: $height;
  position: relative;

  &__btn {
    @include primary-action-btn;

    // the label occupies the entire space of the button and
    // shows a darker state on hover
    width: 100%;
    height: 100%;
    text-align: left;
    padding-left: $h-padding;
    padding-right: $arrow-indicator-width + 8px;
  }

  &__btn-no-arrow {
    @include primary-action-btn;

    // the label occupies the entire space of the button and
    // shows a darker state on hover
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: $h-padding + $h-padding;
    padding-right: $h-padding + $h-padding;

  }

  // dropdown arrow which reveals the button's associated menu
  // when clicked
  &__dropdown-arrow {
    position: absolute;
    right: 0px;
    top: 0px;

    height: 100%;
    width: $arrow-indicator-width;
    padding-left: 0px;
    padding-right: $h-padding;
    margin-left: 8px;

    border: none;
    background-color: transparent;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &:hover {
      background-color: $hover-background-color;
    }

    &:hover &-separator {
      // hide the 1px vertical separator when the dropdown arrow
      // is hovered
      background-color: transparent;
    }

    // 1px vertical separator between label and dropdown arrow
    &-separator {
      position: absolute;
      top: 0px;
      bottom: 0px;
      margin-top: auto;
      margin-bottom: auto;

      width: 1px;
      height: 15px;

      background-color: $color-gray;
    }

    // the ▼ arrow which reveals the dropdown menu when clicked
    &-indicator {
      color: $text-color;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      line-height: $height;
      text-align: center;


      & > div {
        transform: scaleY(0.7);
      }
    }
  }
}