.leos-filter-pane {
  border: solid 1px $gray-lighter;
  border-radius: 4px;
  font-family: $sans-font-family;
  font-weight: 300;
  margin: 0px 0px 10px 0px;
  padding: 1em;
  position: relative;
  background-color: $body-background;

  .filter-pane__select-section {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    select {
      height: 42px;
      width: 49%;
      padding-left: 10px;
      @include font-normal;
      border: solid 1px $gray-lighter;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
  }

  .filter-pane__input_field_section {
    height: auto;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border: solid 1px $gray-lighter;
    border-radius: 4px;

    .filter-pane__dropdown-section {
      width: 25%;
      min-width: 100px;
      border-right: solid 1px $gray-lighter;

      li{
        display: flex;
        align-content: center;
        justify-content: flex-start;
      }

      input{
        margin-right: 1rem;
        height: 19px;
        width: 19px;
      }
    }

    #filter-groups-authors {
      align-self: flex-start;
      height: 100%;
      width: 70%;
      flex-shrink: 2;
      flex-grow: 2;
      margin: 0px;
      border: none;
    }

    .filter-pane__dropdown-button {
      @include primary-action-btn;

      width: 100%;
      height: 38px;
      margin: 0px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: white;
      font-weight: 400;
      color: black;
      border: none;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;

      span {
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 25px);
        text-overflow: ellipsis;
      }
    }
  }

  .leos-filter-pane__selected-filters {
    display: flex;
    max-height: 74px;
    overflow-y: auto;
    border: solid 1px #d3d3d3;
    margin: -12px -13px 10px -13px;
  }

  .filter-pane__dropdown-menu {
    width: 150px;
    padding: 10px;
  }

  .filter-pane__clear-filter-btn {
    height: 20px;
    margin-left: 10px;
  }

  .filter-pane-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .filter-pane__version_panel {
      margin-right: 10px;
      p{
        text-align: right;
      }
    }
  }
}

.main-filter-input-field {
  display: flex;

  .filter-img {
    height: 35px;
    vertical-align: top;
  }

  .filter-apply-update-btn {
    border: none;
  }

  i {
    margin: 10px;
  }
}

.openAdvancedFiltersButton {
  border: none;
  color: $MAIN_BLUE;
  margin: 10px 0px;
  background-color: inherit;
}

//override angular-multiple-select css
.form-item-container {
  .list-inline {
    li {
      margin: 3px;
      padding-left: 2px;
      padding-right: 2px;

      span {
        border: 1px solid $filter-choice-border-color;
        background-color: $filter-choice-bg-color;
      }

      input {
        width: 100px;
      }
    }
  }
}

.leos-text-input {
  flex-grow: 2;
  height: 35px;
  border: solid 1px $gray-lighter;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

//override angular-multiple-select css for summary
#filter-summary {
  overflow-y: auto;

  .form-item-container {
    border: none;

    .list-inline {
      li {
        span {
          padding: 2px;

          &.remove {
            display: none;
          }
        }
      }

      input {
        display: none;
      }
    }
  }
}

//used to hide default Hypothesis search component as the functionality is needed to run leos-filter-pane filters
.LEOS-HIDE {
  display: none;
}