@mixin primary-action-btn {
  // note that there is currently some duplication here between
  // the styling for this element and <dropdown-menu-btn>
  height: 35px;
  border: none;
  border-radius: 2px;

  font-weight: bold;
  font-size: $body1-font-size;

  padding-left: 12px;
  padding-right: 12px;

  //LEOS change 3632 - not overridden in leos since its imported on other classes
  background: $MAIN_BLUE;
  color: $white;
  box-shadow: none;

  &:disabled {
    //LEOS change 3632 - not overridden in leos since its imported on other classes
    background: $LIGHT_BLUE;
    border: 1px solid $LIGHT_BLUE;
  }

}

// A dark grey button used for the primary action
// in a form
.primary-action-btn {
  @include primary-action-btn;
}

.primary-action-btn--short {
  height: 30px;
}

.primary-action-btn__icon {
  color: $color-silver-chalice;
  display: inline-block;
  font-weight: bold;
  margin-left: -3px;
  margin-right: 3px;
  transform: translateY(1px);
}
