.leos-selection-pane {
  padding: 1em;
}

.leos-selection-pane__grid {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  column-gap: 5px;
}

.leos-selection-pane__actions-section {
  margin: auto;
  grid-column: 2;
  padding-right: 10px;
  overflow: visible;

  .leos-selection-pane__button {
    @include primary-action-btn;
    display: flex;
    right: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 90px;
    align-items: center;
    justify-content: space-evenly;

    i {
      filter: invert(1);
      width: auto;
      height: auto;
    }
  }

  .red-action {
    color: red;
  }
}

.leos-selection-pane__select-section {
  justify-content: center;
  align-content: center;
}

.select-all-label{
  vertical-align: top;
  margin: auto 5px;
}



.select-all-checkbox {
  height: 19px;
  width: 19px;
  background-color: white;
  border: solid 1px $gray;
  margin:auto;
}

.deselect-all-checkbox {
  height: 19px;
  width: 19px;
  background-color: $MAIN_BLUE;
  border: solid 1px $gray;
  color: white;
  padding: 2px;

  i {
    width: 13px;
    height: 13px;
    filter: invert(1);
  }
}

.selection-pane__sort{
  grid-column: 3;
  padding-left: 10px;

  .selection-pane__sort-button {
    @include primary-action-btn;
    background-color: white;
    color: gray;
    border: gray 1px solid;
    margin-left: 10px;
    right: 0;

    i {
      width: 20;
      height: 20;
    }
  }
}