.selection-tabs {

  display: flex;
  flex-direction: row;
  color: $grey-5;
  @include font-normal;

  &:hover {
    color: $grey-6;
  }
  border-bottom: 1px solid $grey-4;
  margin-bottom: 10px;
}

.selection-tabs--theme-clean {
  margin-left: 2rem;
}

.selection-tabs__type {
  color: $grey-5;
  cursor: pointer;
  min-width: 85px;
  min-height: 18px;
  font-weight: bold;
  padding: 0.5em;
  border-bottom: 1px solid $grey-4;
  border-right: 1px solid $grey-4;
  user-select: none;
}

.selection-tabs__type.is-selected {
 color: black;
 border-bottom: 2px solid $selected-tab-blue;
 background-color: $selected-tab-background-color;
}

.selection-tabs__count {
  position: relative;
  //bottom: 3px;
  color: $selected-tab-blue;
  border: 1px solid $selected-tab-blue;
  border-radius: 2rem;
  padding: 0rem 0.5rem ;
  font-weight: normal;
}

.selection-tabs__empty-message {
  position: relative;
  top: 10px;
}

.selection-tabs__type--orphan {
  margin-left: -5px;
}

.selection-tabs__annotation-count{
  color: $MAIN_BLUE;
  border: 1px solid $MAIN_BLUE;
  border-radius: 5px;
}
