@import './compare.scss';
@import './suggestion.scss';
@import './filter-pane.scss';
@import './selection-pane.scss';

.thread-list__card {
  padding: 0px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

.leos-annotation-actions {
  text-align: right;
  height: 8px;
}

.annotation-action-btn {
  margin: 0px 0px 0px 5px;
}

div.is-annotation-selected {
  background-color: white;
}

//LEOS change 2826
.is-suggestion {
  background-color: white;
  border-color: lightgrey;
}

//LEOS change 3632
.is-comment {
  background-color: white;
}

.is-annotations-processed {
  background-color: $leos-processed-annotation-background-color !important;
  border-color: white;
}