.sidebar-header {
    height: 40px;
    display: flex;
    align-content: space-between;
    flex-direction: row;
}

.sidebar-header--title {
    margin: auto;
    flex-grow: 1;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.sidebar-header--toggle-btn {
    background-color: inherit;
    border: none;
    width: 50px;
    height: 100%;
}