.sidebar-tutorial__header {
  color: $color-cardinal;
  font-size: $body1-font-size;
  font-weight: $title-font-weight;
}

.sidebar-tutorial__header-annotate {
  position: relative;
  top: 2px;
}

.sidebar-tutorial__header--is-theme-clean {
  color: $gray-dark;
  font-size: 16px;
}

/* We want an ordered list in which the numbers are aligned with the text
   above (not indented or dedented), and wrapped lines in list items are
   aligned with the first character of the list item (not the number, i.e
   they're indented):

       This is a list:

       1. This is a list item.
       2. This is a long list item
          that wraps.
       3. This is another list item.

   What's more, we want the numbers to be a different color to the text of the
   list items, which means we need to use ::before content for them.

   This appears to be much harder than you'd think.

   The code below comes from this Stack Overflow answer:
   http://stackoverflow.com/questions/10428720/how-to-keep-indent-for-second-line-in-ordered-lists-via-css/17515230#17515230
*/
.sidebar-tutorial__list {
  counter-reset: sidebar-tutorial__list;
  display: table;
  padding: 0;
}

.sidebar-tutorial__list-item {
  list-style: none;
  counter-increment: sidebar-tutorial__list;
  display: table-row;
}

.sidebar-tutorial__list-item::before {
  content: counter(sidebar-tutorial__list) ".";
  display: table-cell; /* aha! */
  text-align: right;
  padding-right: .3em;
}

.sidebar-tutorial__list-item--is-theme-clean {
  font-size: 14px;
}

.sidebar-tutorial__list-item--is-theme-clean::before {
  color: $gray-dark;
}

.sidebar-tutorial__list-item-content {
  margin-top: 1em; /* Put vertical space in-between list items, equal to the
                      space between normal paragraphs.
                      Note: This also puts the same amount of space above the
                      first list item (i.e. between the list and whatever's
                      above it). */
}

.sidebar-tutorial__list-item-annotate {
  background-color: $highlight-color-focus;
  padding: 0px 3px;
}

.sidebar-tutorial__list-item-new-note-btn {
  background-color: $color-dove-gray;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-left: 2px;
  padding: 2px 5px;
}

.sidebar-tutorial__list-item-drop-down {
  margin-left: -5px;
}

.sidebar-tutorial__list-item-cursor {
  position: relative;
  top: 3px;
  margin-left: -10px;
}

.sidebar-tutorial__list-item-cursor svg {
  width: 12px;
  height: 17px;
}

.sidebar-tutorial__list-item-content {
  margin-top: 16px;
}

.sidebar-tutorial__list-item-profile {
  margin-left: 4px;
}
