
.simple-search-form {
  display: flex;
  flex-flow: row nowrap;

  position: relative;
  color: $gray-dark;
}

.simple-search-icon {
  order: 0;
}

:not(:focus) ~ .simple-search-icon {
  color: $gray-light;
}

@at-root {
  $expanded-max-width: 150px;

  .simple-search-input {
    flex-grow: 1;
    order: 1;

    color: $text-color;

    // disable the default browser styling for the input
    border: none;
    outline: none;
    padding: 0px;
    width: 100%;

    // the search box expands when focused, via a change in the
    // `max-width` property. In Safari, the <input> will not accept
    // focus if `max-width` is set to 0px so we set it to
    // a near-zero positive value instead.
    // See GH #2654
    max-width: 0.1px;

    transition: max-width .3s ease-out, padding-left .3s ease-out;

    &:disabled {
      background: none;
      color: $gray-light;
    }

    // expand the search input when focused (triggered by clicking
    // on the search icon) or when `is-expanded` is applied
    &:focus,&.is-expanded {
      max-width: $expanded-max-width;
      padding-left: 6px;
    }
  }
}
