// CSS Spinner modified from http://dabblet.com/gist/7615212
// Works in modern browsers & IE10, IE9 gets stationary spinner.
//
// Examples
//
//   <!-- Three nested spans -->
//   <span class="spinner"><span><span></span></span></span>

$container-width: 1em;
$container-height: $container-width;
$part-width: .1em;
$part-height: 3 * $part-width;

@keyframes spin {
  to { transform: rotate(1turn); }
}

.spinner {
  position: relative;
  display: inline-block;
  width: $container-width;
  height: $container-width;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1.25s infinite steps(12);
}

.spinner:before,
.spinner:after,
.spinner > span:before,
.spinner > span:after,
.spinner > span > span:before,
.spinner > span > span:after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(($container-width - $part-width) / 2);
  width: $part-width;
  height: $part-height;
  border-radius: 0.1em;
  background: #eee;
  box-shadow: 0 ($container-height - $part-height) rgba(0, 0, 0, 0.15);
  transform-origin: 50% calc($container-height / 2);
}

.spinner:before {
  background: rgba(0, 0, 0, 0.65);
}

.spinner:after {
  transform: rotate(-30deg);
  background: rgba(0, 0, 0, 0.6);
}

.spinner > span:before {
  transform: rotate(-60deg);
  background: rgba(0, 0, 0, 0.5);
}

.spinner > span:after {
  transform: rotate(-90deg);
  background: rgba(0, 0, 0, 0.4);
}

.spinner > span > span:before {
    transform: rotate(-120deg);
    background: rgba(0, 0, 0, 0.3);
}

.spinner > span > span:after {
    transform: rotate(-150deg);
    background: rgba(0, 0, 0, 0.2);
}
