// Styles for the ngTagsInput plugin.
// http://mbenford.github.io/ngTagsInput/gettingstarted

tags-input {
  .host {
    outline: none;
  }

  .tags {
    @include form-input;
    @include pie-clearfix;

    &.focused {
      @include form-input-focus;
    }

    // Input
    .input {
      float: left;
      padding: .1333em 0;
      outline: none;
      border: none !important;
      background: none;
      color: $gray;

      // Firefox and Webkit render input boxes at different heights. This
      // causes issues when the tags (which render consistentely) are inserted
      // and cause the height of the faux input to jump.
      height: 1.4667em;
    }
  }

  .tag-list {
    margin-top: -.33em; // Absorb the first row of margin-top on the tags.
    float: left;
  }

  .tag-item {
    float: left;
    position: relative;
    padding: .0769em 1.307em .0769em .538em;
    margin-top: .384em;
    margin-right: .384em;
    font-size: .866em;
    color: $button-text-color;
    border: 1px solid $gray-lighter;
    border-radius: 2px;

    &.selected {
      @include btn-hover;
      @include focus-outline;
    }

    .remove-button {
      user-select: none;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: .9412em;
      font-size: 1.3077em;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      color: #585858;
      cursor: pointer;
    }
  }
}

.tags-read-only {
  font-size: .8461em;
  margin: .4545em 0;

  .tag-list {
    @include pie-clearfix;
    // Margin between bottom of ascent of annotation body and
    // top of tags list should be ~15px
    margin-top: -$layout-h-margin + 10px ;
    // Margin between top of x-height of annotation footer
    // labels and bottom of tags list should be ~15px
    margin-bottom: $layout-h-margin - 10px ;

    .tag-item {
      float: left;
      margin-right: .4545em;

      a {
        text-decoration: none;
        border: 1px solid $gray-lighter;
        border-radius: 2px;
        padding: 0 .4545em .1818em;
        color: $gray-light;
        background: $gray-lightest;

        &:hover, &:focus {
          color: $link-color-hover;
        }
      }
    }
  }
}

tags-input .autocomplete {
  margin-top: .3em;
  position: absolute;
  padding: .3em 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  border: thin solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 .3em .6em rgba(0, 0, 0, 0.2);

  .suggestion-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .suggestion-item {
    padding: .3em .6em;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $sans-font-family;
    color: black;
    background-color: white;

     em {
       font-family: $sans-font-family;
       font-weight: bold;
       font-style: normal;
       color: black;
       background-color: white;
    }

    &.selected {
      color: white;
      background-color: #0097cf;
      em {
        color: white;
        background-color: #0097cf;
      }
    }
  }
}
