// Tooltips
// --------
// Custom tooltips that appear instantly, replacing the browser's default
// tooltip
//@import '../../../../../../shared/styles/variables.scss';

@mixin tooltip-arrow($rotation) {
  transform: rotate($rotation);
  background: $grey-7;
  border-bottom: 1px solid rgba(0,0,0,0.20);
  border-right: 1px solid rgba(0,0,0,0.20);
  content: "";
  display: block;
  height: 6px;
  left: 0;
  margin-left: auto;
  margin-right: 5px;
  position: absolute;
  right: 0;
  width: 6px;
}

// The tooltip background
.tooltip {
  @include font-small;

  border-radius: 2px;
  position: fixed;
  background-color: $grey-7;
  color: white;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  z-index: $zindex-tooltip;
}

// Arrow at the bottom of the tooltip pointing at the target element

// Variant for tooltips above the target that point down at it
.tooltip--down:before {
  @include tooltip-arrow(45deg);
  content: "";
  top: calc(100% - 5px);
}

// Variant for tooltips below the target that point up at it
.tooltip--up:before {
  @include tooltip-arrow(225deg);
  content: "";
  top: -3px;
}

// The text content inside the tooltip
.tooltip-label {
  // Make the label a positioned element so that it appears _above_ the
  // tooltip's arrow, which partially overlaps the content of the tooltip.
  position: relative;
}
