<div *ngIf="isSending && !isSent" class="spinner_wrapper">
</div>
<div class="message_wrapper" *ngIf="!isSending || isSent">
  <p class="message" [ngStyle]="isError ? {'color':'red'} : {}"> 
    {{ message }} 
  </p>
</div> 
<div class="buttons_wrapper" *ngIf="!isSending">
  <button *ngIf="!isSent"
    class="btn"
    [disabled]="isError"
    (click)="sendRequest()"
  >
    {{ buttons.yes || '' }}
  </button>
</div>