$adder-transition-duration: 80ms;

// Main class for the root element of the "adder" toolbar that appears when the
// user makes a text selection.
.annotator-adder {

  // Reset all inherited properties to their initial values. This prevents CSS
  // property values from the host page being inherited by elements of the
  // Adder, even when using Shadow DOM.
  all: initial;

  // Adder entry animation settings
  animation-duration: $adder-transition-duration;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

  box-sizing: border-box;
  direction: ltr;
  position: absolute;
  background: $white;
  border: 1px solid rgba(0,0,0,0.20);
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);

  // Give the adder a very low opacity initially.  It will then fade-in when
  // shown.
  opacity: 0.05;
}

@keyframes adder-fade-in {
  0% { opacity: 0.05; }
  20% { opacity: 0.7; }
  100% { opacity: 1.0; }
}

@keyframes adder-pop-up {
  from { transform: scale(0.8) translateY(10px); }
  to { transform: scale(1.0) translateY(0px); }
}

@keyframes adder-pop-down {
  from { transform: scale(0.8) translateY(-10px); }
  to { transform: scale(1.0) translateY(0px); }
}

@mixin adder-arrow($rotation) {
  transform: rotate($rotation);
  background: $white;
  border-bottom: 1px solid rgba(0,0,0,0.20);
  border-right: 1px solid rgba(0,0,0,0.20);
  content: "";
  display: block;
  height: 6px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 6px;
}

.annotator-adder--arrow-down.is-active {
  animation-name: adder-fade-in, adder-pop-up;
}

.annotator-adder--arrow-down:before {
  @include adder-arrow(45deg);
  bottom: -5px;
}

.annotator-adder--arrow-up.is-active {
  animation-name: adder-fade-in, adder-pop-down;
}

.annotator-adder--arrow-up:before {
  @include adder-arrow(225deg);
  top: -5px;
}

.annotator-adder-actions {
  display: flex;
  flex-direction: row;
}

.annotator-adder-actions:hover .annotator-adder-actions__button {
  color: $gray-light !important;
}

.annotator-adder-actions:hover .annotator-adder-actions__label {
  color: $gray-light !important;
}

.annotator-adder-actions__button {
  box-shadow: none;
  font-family: h;
  font-size: 18px;
  background: transparent !important;
  color: $gray-dark !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  cursor: pointer;

  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;

  transition: color $adder-transition-duration;
}

.annotator-adder-actions .annotator-adder-actions__button:hover {
  color: $gray-dark !important;

  .annotator-adder-actions__label {
    color: $gray-dark !important;
  }
}

.annotator-adder-actions__label {
  font-size: 11px;
  margin: 2px 0px;
  font-family: sans-serif;
  color: $gray-dark !important;
  transition: color $adder-transition-duration;
}

.h-icon-suggestion:before {
  content:  url("../images/icons/lightbulb.svg");
}

.h-icon-suggestion {
  filter: invert(.3);
}

.annotator-adder-actions:hover .annotator-adder-actions__button .h-icon-suggestion {
  filter: invert(.6);
}

.annotator-adder-actions .annotator-adder-actions__button:hover .h-icon-suggestion {
  filter: invert(.3);
}

.annotator-adder-actions__button.annotator-disabled .h-icon-suggestion {
  filter: invert(.8);
}

.annotator-adder-actions__button.annotator-disabled .annotator-adder-actions__label {
  color:  $gray-lighter !important;
}

.annotator-adder-actions__button.annotator-disabled .h-icon-highlight {
  color:  $gray-lighter !important;
}

.annotator-adder-actions .annotator-adder-actions__button:hover.annotator-disabled .h-icon-suggestion {
  filter: invert(.8);
}

.annotator-adder-actions .annotator-adder-actions__button:hover.annotator-disabled .annotator-adder-actions__label {
  color:  $gray-lighter !important;
}

.annotator-adder-actions .annotator-adder-actions__button:hover.annotator-disabled .h-icon-highlight {
  color:  $gray-lighter !important;
}

.annotator-adder-actions:hover .annotator-adder-actions__button.annotator-disabled .h-icon-suggestion {
  filter: invert(.8);
}

.annotator-adder-actions:hover .annotator-adder-actions__button.annotator-disabled .annotator-adder-actions__label {
  color:  $gray-lighter !important;
}

.annotator-adder-actions:hover .annotator-adder-actions__button.annotator-disabled .h-icon-highlight {
  color:  $gray-lighter !important;
}

.annotator-adder-actions .annotator-adder-actions__button.annotator-disabled .h-icon-annotate {
  color:  $gray-lighter !important;
}

.annotator-adder-actions:hover .annotator-adder-actions__button.annotator-disabled .h-icon-annotate {
  color:  $gray-lighter !important;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    left: 100%;
    padding: 4px 4px 4px 8px;
    color: $black;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 0px 0px 4px $gray-dark;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    background: $smoke-white;
    font-size: 12px;
    font-family: $sans-font-family;
}
[data-title] {
    position: relative;
}
