// basic standard styling for elements

a {
  color: $link-color;
  text-decoration: none;
}

a:active, a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $link-color-hover;
}

ol {
  list-style-type: decimal;
  padding-left: 3em;
}

svg { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
