.suggestion-merge-action {
  @include primary-action-btn;
  // the label occupies the entire space of the button and
  // shows a darker state on hover
  text-align: center;
  height: 22px;
}

.annotation-feedback-btn-container {
    margin-top: 10px;
}

.annotation-feedback-save-btn {
    @include primary-action-btn;
    text-align: center;
    height: 22px;
    float: right;
}

.annotation-feedback-metadata {
    color: #7A7A7A;
    text-align: right;
    float: left;
    margin-left: 1em;
}

.annotation-leos-actions {
  float: right;
  padding: 6px 1px;
  width: 100%;
}