.annotation-feedback-icon {
    margin-left: 5px;
    height: 12px;
    width: 12px;
    background-color: #23a9e1;
    border-radius: 50%;
    display: inline-block;
}

.annotation-feedback-action-container {
    margin-top: 5px;
}