@import './leos-compare.scss';
@import './leos-suggestion.scss';
@import './leos-annotation.scss';
@import './leos-annotation-feedback.scss';
@import './leos-selection-pane.scss';
@import './leos-dropdown-menu-btn.scss';

.thread-list__card {
  padding: 0px;//$layout-h-margin 10px;
}

#annotation-wrapper {
  padding: 0px 0px;
}

.leos-sidebar__open-sidebar-icon {
  content: url("../../../assets/images/icons/first_page.svg");
}

.leos-sidebar__close-sidebar-icon {
  content: url("../../../assets/images/icons/last_page.svg");
}

.leos-annotation-actions {
  text-align: right;
  height: 8px;
}

.leos-annotation-contribution {
  text-align: right;
  padding-top: 8px;
  color: $leos-annotation-text-color;
  font-style: italic;
}

.annotation-action-btn {
  margin: 0px 0px 0px 5px;
}

div.is-annotation-selected {
  box-sizing: border-box;
  border: 3px solid #79b7f9;
  background-color: $leos-annotation-background-color;
}

.sidebar-btn-icon {
  filter: invert(0.3);
}