@import './elements.scss';
@import './common.scss';

// Components
// ----------
@import './components/primary-action-btn.scss';
@import './components/annotation.scss';
@import './components/annotation-share-dialog.scss';
@import './components/annotation-thread.scss';
@import './components/dropdown-menu-btn.scss';
@import './components/excerpt.scss';
@import './components/group-list.scss';
@import './components/help-panel.scss';
@import './components/loggedout-message.scss';
@import './components/login-control.scss';
@import './components/markdown.scss';
@import './components/moderation-banner.scss';
@import './components/new-note.scss';
@import './components/publish-annotation-btn.scss';
@import './components/selection-tabs.scss';
@import './components/share-link.scss';
@import './components/sidebar.scss';
@import './components/sidebar-tutorial.scss';
@import './components/simple-search.scss';
@import './components/spinner.scss';
@import './components/tags-input.scss';
@import './components/thread-list.scss';
@import './components/tooltip.scss';
@import './components/top-bar.scss';
@import './components/multiple-select-autocomplete.scss';
@import './components/sidebar-header';

@import './leos-sidebar.scss';  //LEOS Change: style customization

.app-content-wrapper {
  $sidebar-h-padding: 9px;

  @include grey-background;

  min-height: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  padding: $sidebar-h-padding;
  padding-top: $sidebar-h-padding;

  @include respond-to(tablets desktops) {
    padding-bottom: 4rem;
  }
}

//#{nest(hgroup, #{headings()})} {
//  margin: 0;
//}

.content {
  margin-left: auto;
  margin-right: auto;

  @include respond-to(tablets desktops) {
    margin: auto;
    max-width: $break-tablet;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.app-content-wrapper > .content,
sidebar-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

leos-filter-pane,
sidebar-tutorial,
share-dialog,
help-panel,
selection-tabs,
leos-selection-pane {
  flex: 0 0 auto;
}


thread-list {
  flex: 1 1 0;
  overflow: auto;
  min-height: 150px;
}

// Elements in root template (viewer.html)
// ---------------------------------------

.sheet {
  border: solid 1px $gray-lighter;
  border-radius: 2px;
  font-family: $sans-font-family;
  font-weight: 300;
  margin-bottom: .72em;
  padding: 1em;
  position: relative;
  background-color: $body-background;

  .nav-tabs {
    border: 1px none $gray-lighter;
    border-bottom-style: solid;
    padding: 0 0 1.1em;
    li a { padding-bottom: .231em }
  }

  .close {
    position: absolute;
    right: 1em;
    top: 1em;
  }
}

.sheet--is-theme-clean {
  padding-left: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.annotation-unavailable-message {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-lighter;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
  align-items: center;

  &__label {
    text-align: center;
  }

  &__icon {
    background-image: url("/images/icons/lock.svg");
    background-repeat: no-repeat;
    width: 56px;
    height: 48px;
  }
}

.sidebar-menu-icon {
  content: url("../../../assets/images/icons/menu-icon.svg");
}
