@import "../base.scss";

// See http://compass-style.org/reference/compass/utilities/general/clearfix/#mixin-pie-clearfix
@mixin pie-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin focus-outline {
  border-color: #51A7E8;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .075) inset, 0px 0px 5px rgba(81, 167, 232, .5);
}

@mixin form-input {
  @include font-normal;
  border: 1px solid $gray-lighter;
  border-radius: 2px;
  padding: .5em .75em;
  font-weight: normal;
  color: $gray;
  background-color: #FAFAFA;
}

@mixin form-input-focus {
  outline: none;
  background-color: #FFF;

  @include focus-outline;
  @include placeholder {
    color: $gray;
  }
}

@mixin form-input-error {
  color: $error-color;
  border-color: color-weight($error-color, 300);
  background-color: color-weight($error-color, 50);

  @include placeholder {
    color: tint($error-color, 5%);
  }
}

@mixin btn {
  box-shadow: 0 1px 0 rgba(0, 0, 0, .15);

  background: linear-gradient($button-background-gradient);
  display: inline-block;
  font-weight: bold;
  color: $button-text-color;
  text-shadow: 0 1px 0 #FFF;
  border-radius: 2px;
  border: 1px solid $gray-light;
  padding: .5em .9em;
}

@mixin btn-hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
  outline: none;
  color: $button-text-color;
  background: $button-background-start;
  border-color: #bababa;
}

@mixin btn-active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
  background: $button-background-end;
  color: #424242;
  border-color: #bababa;
}

@mixin btn-disabled {
  box-shadow: none;
  cursor: default;
  background: #F0F0F0;
  border-color: #CECECE;
  color: $gray-light;
}

// Tint and shade functions from
// https://css-tricks.com/snippets/sass/tint-shade-functions
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

@function shade($color, $percent){
  @return mix(black, $color, $percent);
}

