$base-font-size: 12px;
$base-line-height: 20px;

@import "bootstrap/scss/bootstrap";
@import "../node_modules/glyphicons-only-bootstrap/css/bootstrap";
@import '../../shared/styles/base.scss';
@import '../../shared/styles/forms.scss';
@import '../../shared/styles/reset.scss';
@import '../../shared/styles/variables.scss';
@import "../../shared/styles/mixins/icons.scss";
@import "../../shared/styles/mixins/forms.scss";
@import '../../shared/styles/mixins/responsive.scss';
@import "../../shared/styles/vendor/icomoon.css";
@import "../../shared/styles/vendor/opensans.css";
@import './app/sidebar/styles/sidebar.scss';

// Top-level styles
// ----------------
html, body {
    height: 95%;
}

body {
    @include grey-background;

    font-family: $sans-font-family;
    font-weight: normal;
    -webkit-overflow-scrolling: touch;
}

main {
    flex: 1 1 0;
}
  
hypothesis-app {
    display: block;
    height: 100%;
}